section.advertising
    .container
        .advertising__banner
            img(src="pictures/advertising-1.jpg", alt="")
        .advertising__banner
            img(src="pictures/advertising-2.jpg", alt="")