-
    var developments = {
        title: "Похожие события",
        list: [
            {
                text: "Мастер-класс для руководителей «Управление сложными подчиненными»",
                tag: "Мастер-класс",
                date: "18 ноя 2018"
            },
            {
                text: "Московский цифровой форум",
                tag: "Мастер-класс",
                date: "18 ноя 2018"
            },
            {
                text: "Информационные технологии в ритейле: диалог на высшем уровне",
                tag: "Мастер-класс",
                date: "18 ноя 2018"
            },
            {
                text: "Инновационные решения для транспорта",
                tag: "Мастер-класс",
                date: "18 ноя 2018"
            },
            {
                text: "Национальная премия бизнес-коммуникаций",
                tag: "Мастер-класс",
                date: "18 ноя 2018"
            }
        ]
    };

-
    var banner =  [
        "pictures/banner-bork.jpg"
    ];

-
    var description = {
        title: 'Описание',
        content: [
            `В 2018 году пройдет уже четвертая по счету конференция от Obuv Rossii Conference и 
            eCommerce клуб «Сибирь», на которой будут 
            обсуждаться инструменты 
            интернет-продвижения, новые фишки и тренды 
            pинтернет-маркетинга. Ведущие эксперты 
            проведут лекции и мастер-классы и поделятся 
            своим опытом работы над проектами в интернет-среде.`,
            '– Как нанимать новых сотрудников. «Кадровый голод» на рынке и что менеджеру с этим делать.',
            '– Про мокрых обезьян и коллективную безответственность.',
            '– Аудит и оценка персонала как способ усиления команды.',
            '– Постановка задач и правила обратной связи.',
            '– Как не убить контролем и как не умереть без него'
        ],
        blockList: [
            {
                sign: '>',
                number: '120',
                title: 'участников',
                text: 'Директора крупных федеральных и региональных компаний, руководители и специалисты интернет-маркетинга.'
            },
            {
                sign: '',
                number: '20',
                title: 'экспертов',
                text: 'Директора крупных федеральных и региональных компаний, руководители и специалисты интернет-маркетинга.'
            },
            {
                sign: '',
                number: '2',
                title: 'дня опыта',
                text: 'Интересные кейсы и мастер-классы, новые знания и навыки.'
            }
        ]
    };
