-
    var developments = {
        title: "Похожие события",
        list: [
            {
                text: "Мастер-класс для руководителей «Управление сложными подчиненными»",
                tag: "Мастер-класс",
                date: "18 ноя 2018"
            },
            {
                text: "Московский цифровой форум",
                tag: "Мастер-класс",
                date: "18 ноя 2018"
            },
            {
                text: "Информационные технологии в ритейле: диалог на высшем уровне",
                tag: "Мастер-класс",
                date: "18 ноя 2018"
            },
            {
                text: "Инновационные решения для транспорта",
                tag: "Мастер-класс",
                date: "18 ноя 2018"
            },
            {
                text: "Национальная премия бизнес-коммуникаций",
                tag: "Мастер-класс",
                date: "18 ноя 2018"
            }
        ]
    };

-
    var banner =  [
        "pictures/banner-bork.jpg"
    ];
