-
    var description = {
        title: 'Об эксперте',
        content: [
            `Максим Батырев (Комбат) - известный российский менеджер, обладатель премий «Коммерческий директор года» и «Менеджер года», автор бестселлеров «45 татуировок менеджера» и «45 татуировок продавана».`,
            'Прошел путь от рядового специалиста до топ-менеджера крупной российской компании. По версии ИД «Коммерсантъ» входит в ТОП-1000 менеджеров страны. Блог Максима в Livejournal входит в ТОП-30 «денежных» блогов страны.',
            'Получил степень Executive MBA в Институте бизнеса и делового администрирования РАНХиГС. ',
            'Родился 25 декабря 1979 г. в городе Балабаново Калужской области в семье военнослужащего и школьной учительницы. Женат, двое детей.',
            'Жизненное кредо: «НАМЕРЕНИЯ минус ДЕЙСТВИЯ равно НИЧЕГО».',
        ]
    };

-
    var developments = {
        title: "Ближайшие события эксперта",
        list: [
            {
                text: "Мастер-класс для руководителей «Управление сложными подчиненными»",
                tag: "Мастер-класс",
                date: "18 ноя 2018"
            },
            {
                text: "Московский цифровой форум",
                tag: "Мастер-класс",
                date: "18 ноя 2018"
            },
            {
                text: "Информационные технологии в ритейле: диалог на высшем уровне",
                tag: "Мастер-класс",
                date: "18 ноя 2018"
            },
            {
                text: "Инновационные решения для транспорта",
                tag: "Мастер-класс",
                date: "18 ноя 2018"
            },
            {
                text: "Национальная премия бизнес-коммуникаций",
                tag: "Мастер-класс",
                date: "18 ноя 2018"
            }
        ]
    };

-
    var banner =  [
        "pictures/banner-megafon.jpg"
    ];
