-
    var calendar = {
        date: 'Январь 2019',
        dayList: [
            {
                number: 1,
                event: [
                    'orange',
                    'green',
                    'skyblue',
                    'purple'
                ]
            },
            {
                number: 2,
                event: [
                    'orange',
                    'green',
                    'skyblue',
                    'purple'
                ]
            },
            {
                number: 3,
                active: true,
                event: [
                    'orange',
                    'green',
                    'skyblue',
                    'purple'
                ]
            },
            {
                number: 4,
                event: [
                    'orange',
                    'green',
                    'skyblue',
                    'purple'
                ]
            },
            {
                number: 5,
                event: [
                    'orange',
                    'green',
                    'skyblue',
                    'purple'
                ]
            },
            {
                number: 6,
                event: [
                    'orange',
                    'green',
                    'skyblue',
                    'purple'
                ]
            },
            {
                number: 7,
                event: [
                    'orange',
                    'green',
                    'skyblue',
                    'purple'
                ]
            },
            {
                number: 8,
                event: [
                    'orange',
                    'green',
                    'skyblue',
                    'purple'
                ]
            },
            {
                number: 9,
                event: [
                    'orange',
                    'green',
                    'skyblue',
                    'purple'
                ]
            },
            {
                number: 10,
                event: [
                    'orange',
                    'green',
                    'skyblue',
                    'purple'
                ]
            },
        ]
    };


-
    var developments = {
        title: "Лучшие события",
        list: [
            {
                text:
                    "Мастер-класс для руководителей «Управление сложными подчиненными»",
                tag: "Мастер-класс",
                date: "18 ноя 2018"
            },
            {
                text:
                    "Мастер-класс для руководителей «Управление сложными подчиненными»",
                tag: "Мастер-класс",
                date: "18 ноя 2018"
            },
            {
                text:
                    "Мастер-класс для руководителей «Управление сложными подчиненными»",
                tag: "Мастер-класс",
                date: "18 ноя 2018"
            }
        ]
    };

-
    var rating = {
        title: 'Рейтинг экспертов',
        list: [
            {
                img: 'pictures/rating-expert-1.jpg',
                name: 'Максим Батырев',
                city: 'г. Москва',
                comments: '23',
                rating: '4,2'
            },
            {
                img: 'pictures/rating-expert-1.jpg',
                name: 'Максим Батырев',
                city: 'г. Москва',
                comments: '23',
                rating: '4,2'
            },
            {
                img: 'pictures/rating-expert-1.jpg',
                name: 'Максим Батырев',
                city: 'г. Москва',
                comments: '23',
                rating: '4,2'
            },
            {
                img: 'pictures/rating-expert-1.jpg',
                name: 'Максим Батырев',
                city: 'г. Москва',
                comments: '23',
                rating: '4,2'
            },
            {
                img: 'pictures/rating-expert-1.jpg',
                name: 'Максим Батырев',
                city: 'г. Москва',
                comments: '23',
                rating: '4,2'
            },
        ]
    };

-
    var banner =  [
        "pictures/banner-megafon.jpg"
    ];
