-
    var developments = {
        title: "Лучшие события",
        list: [
            {
                text:
                    "Мастер-класс для руководителей «Управление сложными подчиненными»",
                tag: "Мастер-класс",
                date: "18 ноя 2018"
            },
            {
                text:
                    "Мастер-класс для руководителей «Управление сложными подчиненными»",
                tag: "Мастер-класс",
                date: "18 ноя 2018"
            },
            {
                text:
                    "Мастер-класс для руководителей «Управление сложными подчиненными»",
                tag: "Мастер-класс",
                date: "18 ноя 2018"
            }
        ]
    };

-
    var banner =  [
        "pictures/banner-megafon.jpg"
    ];
