-
    var description = {
        title: 'Информация об организаторе',
        content: [
            'FBR - команда № 1 !',
            'Мы - за развитие! Развитие себя, бизнеса и бизнеса наших партнеров. За раскрытие потенциала всех, с кем имеем дело. За совершенствование навыков, за выход из границ возможного.',
            'Мы - за экологичность! Мы готовы слушать и слышать партнеров, клиентов, коллег. Мы уважаем чужое мнение. Мы предлагаем только то, что для вас важно и имеет ценность.',
            'Директор: Марина Балабина'
        ]
    };

-
    var developments = {
        title: "Ближайшие события организатора",
        list: [
            {
                text: "Мастер-класс для руководителей «Управление сложными подчиненными»",
                tag: "Мастер-класс",
                date: "18 ноя 2018"
            },
            {
                text: "Московский цифровой форум",
                tag: "Мастер-класс",
                date: "18 ноя 2018"
            },
            {
                text: "Информационные технологии в ритейле: диалог на высшем уровне",
                tag: "Мастер-класс",
                date: "18 ноя 2018"
            },
            {
                text: "Инновационные решения для транспорта",
                tag: "Мастер-класс",
                date: "18 ноя 2018"
            },
            {
                text: "Национальная премия бизнес-коммуникаций",
                tag: "Мастер-класс",
                date: "18 ноя 2018"
            }
        ]
    };

-
    var info = {
        addButton: 'Связаться с компанией',
        list: [
            {
                text: 'Адрес:',
                content: 'Барнаул, пр. Красноармейский, 51а'
            },
            {
                text: 'Телефон:',
                content: '+7 (3852) 534-229'
            },
            {
                text: 'Email:',
                content: 'info@fbr22.ru'
            },
            {
                text: 'Контактное лицо:',
                content: 'Мария Балабина, тел. +7 3852 30-50-70'
            },
        ]
    }

-
    var banner = [
        "pictures/banner-megafon.jpg",
        "pictures/banner-megafon.jpg"
    ]

