-
    var select = [
        'Барнаул',
        'Новосибирск'
    ];

-
    var card = {
        title: false,
        list: [
            {
                img: 'pictures/conference-hall-1.jpg',
                name: 'Конференц-зал Сибирской медиагруппы',
                city: 'Барнаул, ул. Короленко, 51'
            },
            {
                img: 'pictures/location-place.jpg',
                name: 'Молодежный театр Алтая им. Золотухина',
                city: 'Барнаул, ул. Короленко, 51'
            },
            {
                img: 'pictures/conference-hall-2.jpg',
                name: 'Конференц-зал Сибирской медиагруппы',
                city: 'Барнаул, ул. Короленко, 51'
            },
            {
                img: 'pictures/location-place.jpg',
                name: 'Конференц-зал Сибирской медиагруппы',
                city: 'Барнаул, ул. Короленко, 51'
            },
            {
                img: 'pictures/conference-hall-1.jpg',
                name: 'Конференц-зал Сибирской медиагруппы',
                city: 'Барнаул, ул. Короленко, 51'
            }
        ]
    };


-
    var banner =  [
         "pictures/banner-bork.jpg",
        "pictures/advertising-2.jpg"
    ];
