section.event-card-expert
    .container
        .section__title Эксперты
        ul.event-card-expert__list
            li.event-card-expert__item
                a.event-card-expert__link(href="#")
                    .event-card-expert__img
                        img(src="pictures/event-card-expert-1.jpg" alt="")
                    .event-card-expert__bottom 
                        p Максим Батырев 
                        p Москва
            li.event-card-expert__item
                a.event-card-expert__link(href="#")
                    .event-card-expert__img
                        img(src="pictures/event-card-expert-1.jpg" alt="")
                    .event-card-expert__bottom 
                        p Максим Батырев 
                        p Москва
            li.event-card-expert__item
                a.event-card-expert__link(href="#")
                    .event-card-expert__img
                        img(src="pictures/event-card-expert-1.jpg" alt="")
                    .event-card-expert__bottom 
                        p Максим Батырев 
                        p Москва
            li.event-card-expert__item
                a.event-card-expert__link(href="#")
                    .event-card-expert__img
                        img(src="pictures/event-card-expert-1.jpg" alt="")
                    .event-card-expert__bottom 
                        p Максим Батырев 
                        p Москва
        .event-card-expert__wrap
            a.event-card-expert__button(href="#") Показать всех
    