section.event-card-description
    .container
        .section__title Описание 

        p В 2018 году пройдет уже четвертая по счету конференция от Obuv Rossii Conference и 
        | eCommerce клуб «Сибирь», на которой будут 
        | обсуждаться инструменты 
        | интернет-продвижения, новые фишки и тренды 
        | pинтернет-маркетинга. Ведущие эксперты 
        | проведут лекции и мастер-классы и поделятся 
        |своим опытом работы над проектами в интернет-среде.
        p  – Как нанимать новых сотрудников. «Кадровый голод» на рынке и что менеджеру с этим делать. 
        P  – Про мокрых обезьян и коллективную безответственность. 
        p – Аудит и оценка персонала как способ усиления команды. 
        p – Постановка задач и правила обратной связи. 
        p – Как не убить контролем и как не умереть без него