section.location-info
    .container
        .location-info__inner
            .location-info__row
                span.location-info__text Адрес:
                span.location-info__content Барнаул, пр. Калинина, 2 
        .location-info__inner
            .location-info__row
                span.location-info__text Количество мест: 
                span.location-info__content 740
        .location-info__inner
            .location-info__row
                span.location-info__text Доступное оборудование: 
                span.location-info__content проектор, экран, ноутбук, кулер 
        .location-info__inner
            .location-info__row
                span.location-info__text Питание:
                span.location-info__content кейтеринг
        .location-info__inner
            .location-info__row
                span.location-info__text Стоимость (час/день):
                span.location-info__content 2000р. / 15000р. 
        .location-info__inner
            .location-info__row
                span.location-info__text Контактное лицо: 
                span.location-info__content Иван Петров, тел. +7 3852 55-11-35
        .button.location__add Оставить заявку        