.content-half {
  margin-bottom: 30px;
  @include desktop {
    margin-bottom: 60px;
  }

  &__box {
    @include row-flex();
  }

  &__part {
    @include col();
    @include size(12);
    @include desktop {
      @include size(6);
    }

    &:first-child {
      margin-bottom: 30px;

      @include desktop {
        margin-bottom: 0;
      }
    }
  }
}
