.content-half {
  margin-bottom: 30px;
  @include xl-block {
    margin-bottom: 60px;
  }

  &__box {
    @include row-flex();
  }

  &__part {
    @include col();
    @include size(12);
    @include size-xl(6);

    &:first-child {
      margin-bottom: 30px;

      @include xl-block {
        margin-bottom: 0;
      }
    }
  }
}
