section.event-participate
    .container
        .event-participate__cost
            .event-participate__title Стоимость участия
            .event-participate__price 7500 руб.
        .event-participate__buttons-block
            .button.event-participate__button Зарегистрироваться
            .event-participate__buttons-row
                .button-transparent.event-participate__favorite Избранное
                .button-transparent.event-participate__calendar В календарь
        .event-participate__info
            .event-participate__info-row
                span.event-participate__info-title Организатор:
                span.event-participate__info-text агентство бизнес-обучения FBR
            .event-participate__info-row
                span.event-participate__info-title Сайт мероприятия:
                span.event-participate__info-text
                    a(href="http://2018.emarketingsib.ru" target="_blank") 2018.emarketingsib.ru
            .event-participate__info-row
                .event-participate__info-title Теги:
                .event-participate__info-tags
                    a(href="#") мотивация
                    a(href="#") финансы
                    a(href="#") Батырев
                    a(href="#") карьера
                    a(href="#") успех
        .event-participate__map#js-event-map


