.mobile-menu
    .mobile-menu__top
        .container
            .mobile-menu__city.icon-map-marker Ваш город: 
                a(href="#") Барнаул
    .mobile-menu__content
        .container
            ul.mobile-menu__list
                li.mobile-menu__item
                    a.mobile-menu__link(href="#") События
                li.mobile-menu__item
                    a.mobile-menu__link(href="#") Эксперты
                li.mobile-menu__item
                    a.mobile-menu__link(href="#") Организаторы
                li.mobile-menu__item
                    a.mobile-menu__link(href="#") Статьи
                li.mobile-menu__item
                    a.mobile-menu__link(href="#") Площадки
                li.mobile-menu__item
                    a.mobile-menu__link(href="#") Рейтинги
                li.mobile-menu__item
                    a.mobile-menu__link(href="#") Контакты
                li.mobile-menu__item
                    a.mobile-menu__link(href="#") О проекте
                li.mobile-menu__item
                    a.mobile-menu__link(href="#") Рекламодателям 

            .button.mobile-menu__add Добавить событие
            .auth
                a.auth__login.js-modal-open(href='#', data-modal-type="login") Вход на сайт
                a.auth__login.js-modal-open(href='#', data-modal-type="register") Регистрация
