.mobile-menu.mobile-menu_hide.js-mobile-menu
    .container //.container_mobile-menu
        //i.icon.ion-md-close.mobile-menu__close.js-mobile-menu-close
        ul.mobile-menu__list
            li.mobile-menu__item
                a.mobile-menu__link.js-mobile-menu-link.js-menu-animate(href="#") События
            li.mobile-menu__item
                a.mobile-menu__link.js-mobile-menu-link.js-menu-animate(href="#") Эксперты
            li.mobile-menu__item
                a.mobile-menu__link.js-mobile-menu-link.js-menu-animate(href="#") Организаторы
            li.mobile-menu__item
                a.mobile-menu__link.js-mobile-menu-link.js-menu-animate(href="#")  Статьи
            li.mobile-menu__item
                a.mobile-menu__link.js-mobile-menu-link.js-menu-animate(href="#") Площадки
            li.mobile-menu__item
                a.mobile-menu__link.js-mobile-menu-link.js-menu-animate(href="#") Рейтинги
            li.mobile-menu__item
                a.mobile-menu__link.js-mobile-menu-link.js-menu-animate(href="#") Контакты
            li.mobile-menu__item
                a.mobile-menu__link.js-mobile-menu-link.js-menu-animate(href="#") О проекте
            li.mobile-menu__item
                a.mobile-menu__link.js-mobile-menu-link.js-menu-animate(href="#") Рекламодателям 

        .button.mobile-menu__add Добавить событие
        .auth
            a.auth__login.js-popup-open(data-type-modal="login") Вход на сайт
