section.contacts-info
    .container
        .contacts-info__inner
            .contacts-info__row
                span.contacts-info__text Адрес:
                span.contacts-info__content 656000, Барнаул, пр. Ленина, 123 
        .contacts-info__inner
            .contacts-info__row
                span.contacts-info__text Телефон:
                span.contacts-info__content +7 (3852) 32-63-63
        .contacts-info__inner
            .contacts-info__row
                span.contacts-info__text Email:
                span.contacts-info__content info@naforum.ru