header.header.js-mobile-menu
    .header-bgc
        .container
            .header-inner
                .header-left
                    .hamburger.hamburger--squeeze.js-hamburger
                        .hamburger-box
                            .hamburger-inner
                .header-middle.js-header-middle
                    a.header-logo(href="/")
                        img.header-logo__img(src="img/logo-header.svg" alt="logo")
                .header-right.js-header-right
                    a.header-search.js-modal-open(data-modal-type="search", href="#")
                    a.header-lk(href="#")
                    a.header-favorites(href="#") 15
    include ../../components/mobile-menu/index