.header {
  @include desktop {
    position: fixed;
    z-index: 50;
    width: $desktop-calendar-width;
  }

  &.mobile-menu_active {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 110;
    height: 100%;
    overflow: auto;

    @include desktop {
      overflow: inherit;
    }
  }

  &-left,
  &-middle,
  &-right {
    width: 33%;

    @include desktop {
      width: 45%;
    }
  }

  &-left {
    @include desktop {
      width: 10%;
    }
  }

  &-middle {
    text-align: center;
  }

  &-right {
    text-align: right;
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
  }

  &-bgc {
    padding: 15px 0;
    background: linear-gradient(146.17deg, #6441a5 0.44%, #2a0845 90.38%);

    @include desktop {
      background: $bunting;
      padding-top: 32px;
      padding-bottom: 15px;
      height: 80px;
      box-sizing: border-box;

      & > .container {
        padding: $desktop-calendar-padding;
      }
    }
  }

  &-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include desktop {
      height: 36px;
    }
  }

  &-logo {
    max-width: 138px;
    display: inline-block;

    &__img {
      width: 100%;
    }
  }

  &-search {
    @extend %fa-icon;
    @extend .fal;
    font-size: 16px;
    color: $white;
    text-decoration: none;

    @include desktop {
      display: none;
    }

    &:before {
      content: $fa-var-search;
    }
  }

  &-lk {
    width: 20px;
    height: 21px;
    background: no-repeat center url(icon-user());
    background-size: contain;
    text-decoration: none;
    display: inline-block;
    margin-right: 18px;
  }

  &-favorites {
    position: relative;
    right: -40px;
    display: inline-block;
    padding-top: 5px;
    padding-right: 9px;
    font-size: 18px;
    line-height: 1;
    text-align: right;
    color: #fff;
    text-decoration: none;
    z-index: 0;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: auto;
      margin: auto;
      width: 0;
      height: 0;
      border-width: 16px 60px 16px 10px;
      border-style: solid;
      border-color: #9768d1 #9768d1 #9768d1 transparent;
      z-index: -1;
    }
  }
}
