.rating {
  background: $white;
  border: 1px solid #e3e4e5;
  box-sizing: border-box;
  padding: 20px;

  @include desktop {
    padding: 30px 20px;
  }

  &_white-bg {
    background-color: $white;
  }

  &__title {
    width: 100%;
    font-size: 13px;
    line-height: 13px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #0f1226;
  }

  &__link {
    font-size: 18px;
    line-height: 24px;
    color: #383b73;
    margin-bottom: 8px;
    text-decoration: none;
  }

  &__list {
    width: 100%;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 10px 0;

    &-inner {
      display: flex;
      align-items: center;
      align-self: flex-start;
    }
  }

  &__number {
    align-self: center;
    font-weight: 900;
    font-size: 18px;
    line-height: 23px;
    color: #0f1226;
    padding-right: 10px;
  }

  &__middle {
    display: flex;
    flex-direction: column;
    width: #{"calc(100% - 120px)"};
    padding-right: 10px;
    box-sizing: border-box;
  }

  &__img {
    width: 54px;
    height: 54px;
    margin-right: 12px;
    align-self: self-start;

    & img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }

  &__city {
    font-weight: 300;
    font-size: 14px;
    color: $santas-grey;
    margin-bottom: 5px;
  }

  &__comments {
    @extend %fa-icon;
    @extend .fas;
    margin-left: 10px;
    font-size: 12px;
    color: $santas-grey;
    line-height: 20px;

    & span {
      font-family: HelveticaNeueCyr, serif;
      font-weight: 300;
    }

    &::before {
      content: $fa-var-comment-dots;
      margin-right: 5px;
    }
  }

  &__text {
    font-weight: 300;
    color: #3f3f3f;
    align-self: flex-start;
    text-align: right;
  }

  &__values {
    @extend .icon-rating;
  }
}
