mixin developments(title, list, showAll = false)
    section.developments
        .container
            .section__title=title
            ul.developments__list
                each item in list
                    li.developments__item
                        a.developments__link(href="#")=item.text
                        .developments-bottom
                            .developments-tag=item.tag
                            .developments-date=item.date
        if showAll
            .button-link__wrap
                a.button-link(href="#") Показать все

