section.developments
    .container
        .section__title Лучшие события
        ul.developments__list
            li.developments__item
                a.developments__link(href="#")
                    | Мастер-класс для руководителей 
                    |«Управление сложными подчиненными» 
                .developments-bottom
                    .developments-tag Мастер-класс
                    .developments-date 18 ноя 2018
            li.developments__item
                a.developments__link(href="#")
                    | Московский цифровой форум
                .developments-bottom
                    .developments-tag Мастер-класс
                    .developments-date 18 ноя 2018
            li.developments__item
                a.developments__link(href="#")
                    | Информационные технологии в ритейле: 
                    |диалог на высшем уровне 
                .developments-bottom
                    .developments-tag Мастер-класс
                    .developments-date 18 ноя 2018
            li.developments__item
                a.developments__link(href="#")
                    | Инновационные решения для транспорта 
                .developments-bottom
                    .developments-tag Мастер-класс
                    .developments-date 18 ноя 2018
            li.developments__item
                a.developments__link(href="#")
                    | Национальная премия бизнес-коммуникаций
                .developments-bottom
                    .developments-tag Мастер-класс
                    .developments-date 18 ноя 2018


