.developments {
    margin-top: 33px;
    height: 439px;

    &__title {
        //font-family: HelveticaNeueCyr;
        font-size: 16px;
        line-height: 20px;
        color: @night-rider;
    }
}