section.slider-content.slider-places
    .container
        .section__title Лучшие места
        ul.slider-content__list.js-slider-places
            li.slider-content__item
                .slider-content__img
                    img(src="pictures/slider-places-1.jpg" alt="")
                .slider-places__info
                    .slider-places__info-title 
                        |Конференц-зал Сибирской медиагруппы
                    .slider-places__info-bottom
                        .slider-places__info-address Барнаул, ул. Короленко, 51
            li.slider-content__item
                .slider-content__img
                    img(src="pictures/slider-places-1.jpg" alt="")
                .slider-places__info
                    .slider-places__info-title 
                        |Конференц-зал Сибирской медиагруппы
                    .slider-places__info-bottom 
                        .slider-places__info-address Барнаул, ул. Короленко, 51
            li.slider-content__item
                .slider-content__img
                    img(src="pictures/slider-places-1.jpg" alt="")
                .slider-places__info
                    .slider-places__info-title 
                        |Конференц-зал Сибирской медиагруппы
                    .slider-places__info-bottom
                        .slider-places__info-address Барнаул, ул. Короленко, 51
                        