mixin banner(list)
    section.banner
        .wrapper-inner
            .container
                .banner__list
                    if list && list.length > 1
                        each item in list
                            .banner__item
                                img(src=item, alt="")
                    else
                        .banner__full
                            img(src=list[0], alt="")