mixin banner(list, whiteBg=false)
    section.banner(class=whiteBg ? "banner_white-bg" : "")
        .container
            .banner__list
            each item in list
                .banner__banner
                    img(src=item, alt="")