section.location-place
    .location-place__img
        img(src="pictures/location-place.jpg" alt="")
    .container
        .location-place__info
        .expert-info__bottom 
            .expert-info__name Молодежный театр Алтая 
            .expert-info__city г. Барнаул       
