-
    var articleList = [
        {
            img: 'pictures/article-list/item-1.jpg',
            author: 'Максим Батырев',
            title: '«Копить нужно то, что невозможно отобрать»',
            date: '23 сентября 2018',
            comment: '23'
        },
        {
            img: 'pictures/article-list/item-2.jpg',
            author: 'Максим Батырев',
            title: '«Копить нужно то, что невозможно отобрать»',
            date: '23 сентября 2018',
            comment: '23'
        },
        {
            img: 'pictures/article-list/item-3.jpg',
            author: 'Максим Батырев',
            title: '«Копить нужно то, что невозможно отобрать»',
            date: '23 сентября 2018',
            comment: '23'
        },
        {
            img: 'pictures/article-list/item-1.jpg',
            author: 'Максим Батырев',
            title: '«Копить нужно то, что невозможно отобрать»',
            date: '23 сентября 2018',
            comment: '23'
        },
        {
            img: 'pictures/article-list/item-4.jpg',
            author: 'Максим Батырев',
            title: '«Копить нужно то, что невозможно отобрать»',
            date: '23 сентября 2018',
            comment: '23'
        },
        {
            img: 'pictures/article-list/item-5.jpg',
            author: 'Максим Батырев',
            title: '«Копить нужно то, что невозможно отобрать»',
            date: '23 сентября 2018',
            comment: '23'
        },
        {
            img: 'pictures/article-list/item-2.jpg',
            author: 'Максим Батырев',
            title: '«Копить нужно то, что невозможно отобрать»',
            date: '23 сентября 2018',
            comment: '23'
        },
        {
            img: 'pictures/article-list/item-1.jpg',
            author: 'Максим Батырев',
            title: '«Копить нужно то, что невозможно отобрать»',
            date: '23 сентября 2018',
            comment: '23'
        },
        {
            img: 'pictures/article-list/item-5.jpg',
            author: 'Максим Батырев',
            title: '«Копить нужно то, что невозможно отобрать»',
            date: '23 сентября 2018',
            comment: '23'
        },
        {
            img: 'pictures/article-list/item-3.jpg',
            author: 'Максим Батырев',
            title: '«Копить нужно то, что невозможно отобрать»',
            date: '23 сентября 2018',
            comment: '23'
        },
    ]