include ../column/index
include data


section.article-list
    .container
        +column(articleList)
        .button-link__wrap
            a.button-link(href="#") Показать еще
        include ../pagination/index
        