.modal.js-modal.js-modal-search
    .modal__close.js-modal-close
        .hamburger.hamburger--squeeze.is-active
            .hamburger-box
                .hamburger-inner
    form.modal-search(action="" method="")
        input.modal-search__input(name='email', type='text', placeholder='Поиск по сайту')
        button.modal-search__submit(type="submit")