extends _layouts/home	
block content
    include _data/article
    include _partials/article-info/index
    include _partials/description/index
    include _partials/comment/index
    include _partials/banner/index


    +description(description.title, description.content, description.blockList)
    +comment(comment.title, true, comment.list, true)
    +banner(banner,true)