extends _layouts/home	
block content
    include _data/experts-all
    include _partials/title/index
    include _partials/select/index
    include _partials/banner/index
    include _partials/rating/index


    +title('Эксперты')
    +select(select, 'js-select2-purple')
    +rating(rating.title, rating.list, true, true, true)
    +banner(banner, true)
