extends _layouts/home	
block content
        include _data/home
        include _partials/calendar/index
        include _partials/developments/index
        include _partials/banner/index
        include _partials/rating/index

        +calendar(calendar.date, calendar.dayList, checkboxList)
        include _partials/master-class/index
        +developments(developments.title, developments.list)
        include _partials/slider-expert/index
        +rating(rating.title, rating.list, true)
        include _partials/event-organizer/index
        include _partials/promotion/index
        include _partials/slider-places/index
        +banner(banner)
        
