extends _layouts/pages
block content
    .container
        ul
            li
                a(href="home.html") Главная
            li
                a(href="card-event.html") Карточка события
            li
                a(href="expert.html") Эксперт
            li
                a(href="location.html") Место мероприятия
            li
                a(href="organizer.html") Организатор

            li
                a(href="contacts.html") Контакты