extends _layouts/home	
block content
    include _data/location
    include _partials/info/index
    include _partials/description/index
    include _partials/developments/index
    include _partials/banner/index

    include _partials/location-place/index
    +info(info.list, info.addButton)
    +description(description.title, description.content, description.blockList)
    include _partials/map/index
    +developments(developments.title, developments.list, true)
    +banner(banner, true)