section.rating 
    .container
        .section__title Рейтинг экспертов
        ul.rating__list
            li.rating__item
                img.rating__img(src="pictures/rating-expert-1.jpg" alt="")
                a.rating__link(href="#")
                    |Максим Батырев
                .rating-city г. Москва    