section.rating 
    .container
        .section__title Рейтинг экспертов
        ul.rating__list
            li.rating__item
                .rating__item-inner
                    .rating__img
                        img(src="pictures/mc-card-pic-1.jpg" alt="")
                    .rating__middle
                        .rating__name
                            a.rating__link(href="#")
                                |Максим Батырев
                            .rating__city г. Москва
                        .rating__comments
                            span 23
                .rating__text Рейтинг
                    .rating__values  4,2

            li.rating__item
                .rating__item-inner
                    .rating__img
                        img(src="pictures/rating-expert-1.jpg" alt="")
                    .rating__middle
                        .rating__name
                            a.rating__link(href="#")
                                |Максим Батырев
                            .rating__city г. Москва
                        .rating__comments
                            span 23
                .rating__text Рейтинг
                    .rating__values  4,2
            li.rating__item
                .rating__item-inner
                    .rating__img
                        img(src="pictures/rating-expert-1.jpg" alt="")
                    .rating__middle
                        .rating__name
                            a.rating__link(href="#")
                                |Максим Батырев
                            .rating__city г. Москва
                        .rating__comments
                            span 23
                .rating__text Рейтинг
                    .rating__values  4,2
        .button-link__wrap
            a.button-link(href="#") Показать всех