section.article-info
    .article-info__img
        img(src="pictures/expert-info-1.jpg" alt="")
    .container
        .article-info__info
            .article-info__name Максим Батырев 
            .article-info__article Как управлять сложными подчиненными 
            .article-info__date 23 сентября 2018
