section.event-organizer
    .container
        .event-organizer__title Вы – организатор мероприятий?
        .event-organizer__desc Тогда вам – сюда!
        .button.button-event-organizer Добавить событие    
