section.event-organizer
    .container
        .event-organizer__title
            p Вы – организатор мероприятий?
            p Тогда вам – сюда!
        .button.button-event-organizer Добавить событие    
