.event-organizer {
  padding: 25px 20px;
  box-sizing: border-box;
  background: center no-repeat
      linear-gradient(
        90deg,
        rgba(88, 53, 145, 0.8) 0%,
        rgba(59, 24, 97, 0.8) 100%
      ),
    url("../img/event-organizer/bg.png");
  background-size: cover;
  position: relative;

  @include tablet {
    padding: 45px 35px;
  }

  &:before {
    content: none;
    position: absolute;
    width: 200px;
    height: 280px;
    right: -70px;
    top: -50px;
    background: url("../img/event-organizer/phone.png") center no-repeat;
    background-size: contain;

    @include tablet {
      width: 273px;
      height: 341px;
      right: -110px;
      top: -70px;
    }

    @include sm-block {
      content: "";
    }
  }

  &__desc,
  &__title {
    font-weight: 300;
    font-size: 26px;
    line-height: 36px;
    color: #fff;
  }

  &__title {
    font-weight: 900;
  }

  &__desc {
    margin-top: 10px;
  }
}

.button {
  &-event-organizer {
    width: auto;
    margin-top: 50px;
    text-transform: uppercase;
    padding: 17px 25px 13px;
  }
}
