section.dev
    .container
        .dev__list
            .dev-card
                .dev-card__inner
                    .dev-card__content
                        .dev-card__date 18 ноября 2018
                        .dev-card__city Барнаул
                        .dev-card__title 
                            |Мастер-класс для руководителей 
                            |«Управление сложными подчиненными»
                    ul.dev-card__tags
                        li Менеджмент 
            .dev-card
                .dev-card__inner
                    .dev-card__content
                        .dev-card__date 18 ноября 2018
                        .dev-card__city Барнаул
                        .dev-card__title 
                            |Московская неделя предпринимательства
                    ul.dev-card__tags
                        li Менеджмент 
            .dev-card
                .dev-card__inner
                    .dev-card__content
                        .dev-card__date 18 ноября 2018
                        .dev-card__city Барнаул
                        .dev-card__title 
                            |Церемония награждения конкурса «МедиаБренд»
                    ul.dev-card__tags
                        li Маркетинг 
            .dev-card
                .dev-card__inner
                    .dev-card__content
                        .dev-card__date 18 ноября 2018
                        .dev-card__city Барнаул
                        .dev-card__title 
                            |World Content Market
                    ul.dev-card__tags
                        li Менеджмент 
            .dev-card
                .dev-card__inner
                    .dev-card__content
                        .dev-card__date 18 ноября 2018
                        .dev-card__city Барнаул
                        .dev-card__title 
                            |Международная конференция по управлению проектами
                    ul.dev-card__tags
                        li Менеджмент 
            .dev-card
                .dev-card__inner
                    .dev-card__content
                        .dev-card__date 18 ноября 2018
                        .dev-card__city Барнаул
                        .dev-card__title 
                            |«Образование 0+. Развитие человеческого капитала
                    ul.dev-card__tags
                        li Менеджмент 
