section.organizer-info
    .container
        .organizer-info__inner
            .organizer-info__row
                span.organizer-info__text Адрес:
                span.organizer-info__content Барнаул, пр. Красноармейский, 51а 
        .organizer-info__inner
            .organizer-info__row
                span.organizer-info__text Телефон:  
                span.organizer-info__content +7 (3852) 534-229
        .organizer-info__inner
            .organizer-info__row
                span.organizer-info__text Email:  
                span.organizer-info__content info@fbr22.ru
        .organizer-info__inner
            .organizer-info__row
                span.organizer-info__text Питание:
                span.organizer-info__content кейтеринг
        .organizer-info__inner
            .organizer-info__row
                span.organizer-info__text Стоимость (час/день):
                span.organizer-info__content 2000р. / 15000р. 
        .organizer-info__inner
            .organizer-info__row
                span.organizer-info__text Контактное лицо:  
                span.organizer-info__content Мария Балабина, тел. +7 3852 30-50-70
        .button.organizer__add Связаться с компанией        