section.event-interesting
    .container
        .section__title Кому будет интересно
        ul.event-interesting__list
            li.event-interesting__item Предпринимателям и собственникам
            li.event-interesting__item Руководителям и директорам
            li.event-interesting__item HR-специалистам
            li.event-interesting__item Кандидатам на руководящую должность
        include ../quotation/index
