section.top-section
    .container
        .top-section__date 9 января, Барнаул
        ul.top-section__choice
            li Мастер-классы 
                span
            li Только бесплатные
                span