section.event-schedule
    .container
        .section__title Расписание
        .event-schedule__block
            .event-schedule__title 12 октября 2018, пятница
            ul.event-schedule__list
                li.event-schedule__item
                    .event-schedule__time  09:00 – 10:00 
                    .event-schedule__action Регистрация (Холл 1-го этажа, зона гардероба) 
                li.event-schedule__item
                    .event-schedule__time  10:00 – 12:00
                    .event-schedule__action Секция 1. Тренды в интернет-маркетинге

                li.event-schedule__item
                    .event-schedule__time  12:00 – 12:30
                    .event-schedule__action Кофе-брейк

                li.event-schedule__item
                    .event-schedule__time  12:30 – 14:30
                    .event-schedule__action Секция 2. Соцмедиа, мессенджеры, YouTube и другие тренды в рекламе: как эффективно использовать

                li.event-schedule__item
                    .event-schedule__time  14:30 – 15:30
                    .event-schedule__action Обед (холл 1-го этажа, зона гардероба) 

                li.event-schedule__item
                    .event-schedule__time  15:30 – 18:00 
                    .event-schedule__action Секция 3. Как стать ближе к вашим покупателям? 
                li.event-schedule__item
                    .event-schedule__time  18:00 – 18:15 
                    .event-schedule__action Закрытие 1 дня конференции


