include ../column/index
include data

section.article-similar
    .container
        .section__title Похожие статьи
        +column(columnList)
        .button-link__wrap
            a.button-link(href="#") Показать все