section.expert-info
    .expert-info__img
        img(src="pictures/expert-info-1.jpg" alt="")
    .container
        .expert-info__info
            .expert-info__rating
                span 4,5
        .expert-info__bottom 
            .expert-info__name Максим Батырев 
            .expert-info__city Москва        
