section.expert-column
    .container
        .section__title Колонка эксперта
        ul.expert-column__list
            li.expert-column__item
                .expert-column__name
                        | Максим Батырев
                .expert-column__article
                    a.expert-column__link(href="#")
                        |«Копить нужно то, что невозможно отобрать» 
                    .expert-column__comments 
                        span 2
            li.expert-column__item
                .expert-column__name
                        | Максим Батырев
                .expert-column__article
                    a.expert-column__link(href="#")
                        |«Копить нужно то, что невозможно отобрать» 
                    .expert-column__comments 
                        span 2
        .button-link__wrap
            a.button-link(href="#") Показать все               