include ../column/index
include data

section.column
    .container
        .section__title Колонка эксперта
        +column(columnList)
        .button-link__wrap
            a.button-link(href="#") Показать все