section.slider-content.event-slider
    .container
        ul.slider-content__list.js-event-slider
            li.slider-content__item
                .slider-content__img
                    img(src="pictures/event-slider-1.jpg" alt="")
            li.slider-content__item
                .slider-content__img
                    img(src="pictures/event-slider-1.jpg" alt="")
            li.slider-content__item
                .slider-content__img
                    img(src="pictures/event-slider-1.jpg" alt="")