mixin column(list)
    ul.column__list
        for item in list
            li.column__item
                .column__name=item.name
                .column__article
                    a.column__link(href="#")=item.text
                    .column__comments
                        span=item.comment