 section.column
    .container
        .section__title Колонка эксперта
        ul.column__list
            li.column__item
                .column__name
                        | Максим Батырев
                .column__article
                    a.column__link(href="#")
                        |«Копить нужно то, что невозможно отобрать» 
                    .column__comments 
                        span 2
            li.column__item
                .column__name
                        | Максим Батырев
                .column__article
                    a.column__link(href="#")
                        |«Копить нужно то, что невозможно отобрать» 
                    .column__comments 
                        span 2
        .button-link__wrap
            a.button-link(href="#") Показать все               