extends layouts/pages

block variables
    - var title = "НАФОРУМ"
block content
    .container
        img(src='img/pic_webp.png' alt='' style='margin: 20px auto; display: block')
        ul
            li
                a(href="home.html") Главная
            li
                a(href="card-event.html") Карточка события
            li
                a(href="expert.html") Эксперт
            li
                a(href="location.html") Место мероприятия
            li
                a(href="organizer.html") Организатор
            li
                a(href="experts-all.html") Все эксперты
            li
                a(href="platform.html") Площадки
            li
                a(href="sponsor.html") Спонсоры
            li
                a(href="contacts.html") Контакты
            li
                a(href="article-list.html") Список статей
            li
                a(href="article.html") Статья
            li
                a(href="newnew.html") Новое