

mixin contacts-info
    section.contacts-info
        .__box
            .__item
                .__text Email:
                .__content
                    a(href='mailto:info@naforum.ru') info@naforum.ru
            .__item
                .__text Телефон:
                .__content
                    a(href='tel:+73852326363') +7 (3852) 32-63-63
            .__item
                .__text Адрес:
                .__content 656000, Барнаул, пр. Ленина, 123
        .__desc
            block