.contacts-info {
  @include xl-block {
    margin-top: 50px;
  }

  &__box {
    background: url("../img/contacts/bg.png") #f7f7f7 center;
    background-size: cover;
    box-sizing: border-box;
    padding: 16px;
    @include desktop {
      padding: 30px 30px 50px 50px;
    }
  }

  &__item {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__text {
    position: relative;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #9a9a9e;
    margin-bottom: 5px;
  }

  &__content {
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #000;
    text-decoration: none;

    @include desktop {
      font-size: 24px;
    }

    & a {
      text-decoration: underline;
      color: #000;
      font-size: 18px;
      line-height: 24px;
      @include desktop {
        font-size: 24px;
      }

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__desc {
    margin-top: 40px;
    font-size: 16px;
    line-height: 27px;
    color: #3f3f3f;
  }
}
