.contacts-info {
  padding-top: 20px;
  padding-bottom: 25px;
  background: #f0f0f2;

  &__inner {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__text {
    position: relative;
    margin-right: 10px;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #9a9a9e;
    padding-left: 22px;

    &::before {
      position: absolute;
      left: 0;
      color: $purple-light;
      top: 0;
      bottom: 0;
      right: auto;
      margin: auto;
    }
  }

  &__content {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #3f3f3f;
  }
}
