extends ../views/layouts/default

block calendar
    include ../blocks/components/calendar/index
    +calendar(checkboxList, true)

block content
    include ../data/article
    include ../blocks/components/article-info/index
    include ../blocks/components/description/index
    include ../blocks/components/comment/index
    include ../blocks/components/slider-expert/index

    .wrapper-head
        +article-info
    +description(description.title, description.content, description.blockList, description.img)
    +comment(comment.title, true, comment.list, true)
    +slider-expert('Похожие статьи')