extends ../views/layouts/default

block calendar
    include ../blocks/components/calendar/index
    +calendar(checkboxList, true)

block content
    include ../data/article-list
    include ../blocks/components/title/index

    .wrapper-inner
        +title('Статьи')
        include ../blocks/components/article-list/index
