extends ../views/layouts/default
block content
    include ../blocks/components/title/index

    +title('Контакты')
    include ../blocks/components/contacts-info/index
    include ../blocks/components/contacts-form/index