extends ../views/layouts/default

block calendar
    include ../blocks/components/calendar/index
    +calendar(checkboxList, true)

block content
    include ../data/expert
    include ../blocks/components/description/index
    include ../blocks/components/developments/index
    include ../blocks/components/comment/index
    include ../blocks/components/banner/index

    include ../blocks/components/expert-info/index
    +description(description.title, description.content, description.blockList)
    +developments(developments.title, developments.list, false)
    include ../blocks/components/slider-expert/index
    +comment(comment.title, true, comment.list, true)
