extends ../views/layouts/default
block content
    include ../data/experts-all
    include ../blocks/components/title/index
    include ../blocks/components/select/index
    include ../blocks/components/banner/index
    include ../blocks/components/rating/index


    +title('Эксперты')
    +select(select, 'js-select2-purple')
    +rating(rating.title, rating.list, true, true, true)
    +banner(banner, true)
