extends ../views/layouts/default

block calendar
    include ../blocks/components/calendar/index
    +calendar(checkboxList, true)
block content
    include ../data/organizer
    include ../blocks/components/info/index
    include ../blocks/components/description/index
    include ../blocks/components/developments/index
    include ../blocks/components/banner/index

    include ../blocks/components/organizer-name/index
    +info(info.list, info.addButton)
    +description(description.title, description.content, description.blockList)
    +developments(developments.title, developments.list, false)
    +banner(banner, false)
    
