extends ../views/layouts/default

block calendar
    include ../blocks/components/calendar/index
    +calendar(checkboxList, true)

block content
    include ../data/platform
    include ../blocks/components/title/index
    include ../blocks/components/select/index
    include ../blocks/components/card/index

    .wrapper-inner
        +title('Площадки')
        +select(select, 'js-select2-purple', 'Ваш город')
        +card(false, card.list, false, true)