extends ../views/layouts/default

block calendar
    include ../blocks/components/calendar/index
    +calendar(checkboxList, true)

block content
    include ../data/sponsor
    include ../blocks/components/select/index
    include ../blocks/components/title/index
    include ../blocks/components/banner/index

    .wrapper-inner
        +title('Организаторы')
        +select(select, 'js-select2-purple', 'Ваш город')
        include ../blocks/components/sponsor-all/index