section.event-card-mc
    .event-card-mc__img
        img(src="pictures/event-card-mc-1.jpg" alt="")
        .event-card-mc__rating
    .container
        .event-card-mc__info
            .event-card-mc__info-date Мастер-класс
            .slider-expert__info-title 
                |Менеджер и команда. Как создать команду мечты
            ul.event-card-mc__tags
                li Менеджмент
                li.event-card-mc__directions E-commerce

