mixin info(list, addButton)
    section.info
        .container
            .info__list
            for item in list
                .info__row
                    span.info__text=item.text
                    span.info__content=item.content
        
            .button__wrap
                a(href="#").button.info__add=addButton