.info {
  padding: 36px 0;
  background: #f0f0f2;

  &__list {
    margin-bottom: 25px;
  }

  &__row {
    margin-bottom: 15px;
    display: flex;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__text {
    margin-right: 5px;
    font-size: 16px;
    line-height: 20px;
    color: #9a9a9e;
    min-width: 150px;
  }

  &__content {
    font-size: 16px;
    line-height: 20px;
    color: #3f3f3f;
  }

  &__add {
    width: auto;
  }
}
