.info {
  padding-top: 20px;
  padding-bottom: 15px;
  background: #f0f0f2;

  &__list {
    margin-bottom: 25px;
  }

  &__row {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__text {
    margin-right: 5px;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #9a9a9e;
  }

  &__content {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #3f3f3f;
  }
}
