* {
    margin: 0;
    padding: 0;
}

body {
    font-family: HelveticaNeueCyr, serif;
    font-size: 14px;
    line-height: normal;
    font-weight: normal;
    color: #9a9a9e;
}

//colors
@bunting: #313443;
@white: #ffffff;
@lavender-blush: #f5f0f2;
@night-rider: #333333;
@corn: #ffe661;
@eclipse: #3f3f3f;
@cerise: #ee3769;
@santas-grey: #9a9a9e;
@midnight-express: #151d3f;
@whisper: #e5e5e5;

// gradient colors
@purple-light: #6441a5;
@purple-dark: #2a0845;

.yellow {

    &::before,
    &::after {
        color: #F2C94C;
    }

    background-color: #F2C94C;
}

.orange {

    &::before,
    &::after {
        color: #F2994A;
    }

    background-color: #F2994A;
}

.green {

    &::before,
    &::after {
        color: #6FCF97;
    }

    background-color: #6FCF97;
}

.skyblue {

    &::before,
    &::after {
        color: #74C5FF;
    }

    background-color: #74C5FF;
}

.blue {

    &::before,
    &::after {
        color: #2F80ED;
    }

    background-color: #2F80ED;
}

.purple {

    &::before,
    &::after {
        color: #9B51E0;
    }

    background-color: #9B51E0;
}



.container {
    padding: 0 15px;
    margin: 0 auto;
}

.h1 {
    font-size: 22px;
    font-weight: bold;
    color: @midnight-express;
}

.section {
    &__title {
        font-weight: 900;

        font-size: 16px;
        line-height: 20px;
        color: @night-rider;
        padding-bottom: 7px;
        border-bottom: 3px solid #6441a5;
        margin-bottom: 10px;
    }
}

.map-balloon {
    width: 52px;
    height: 53px;
    background-image: url("/img/map-balloon.svg");
}

.button {
    display: inline-block;
    padding: 17px 0 13px;
    background: @cerise;
    color: @white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    border: none;
    outline: none;

    &__wrap {
        text-align: center;
    }
}

.button-link {
    display: inline-block;
    text-decoration: none;
    margin-top: 15px;
    padding: 15px;
    text-align: center;
    font-weight: normal;
    font-size: 15px;
    color: #ee3769;

    &__wrap {
        text-align: center;
    }
}

.button-transparent {
    border: 2px solid #ee3769;
    box-sizing: border-box;
    line-height: normal;
    text-align: center;
    color: #ee3769;
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
    padding: 10px 40px;
}

.back-page {
    .fa-icon;
    .fal;
    font-size: 14px;
    line-height: normal;
    color: @white;
    position: absolute;
    left: 15px;
    top: 10px;
    text-decoration: none;

    & span {
        font-family: HelveticaNeueCyr;
    }

    &::before {
        content: @fa-var-arrow-left;
        margin-right: 7px;
    }

}

.auth {
    font-size: 17px;
    line-height: normal;
    color: @white;

    &__login {
        &::after {
            content: "/";
            position: relative;
            margin-left: 5px;
            margin-right: 5px;
        }

        &:last-child::after {
            content: none;
        }
    }
}

.overflow-hidden {
    overflow: hidden;
}

// slider-content

.slider-content {
    padding-top: 25px;
    padding-bottom: 20px;

    &__list {
        margin-top: 11px;
        list-style-type: none;
        margin-right: -15px;
    }

    &__img {
        max-height: 165px;

        & img {
            height: 100%;
            width: 100%;
        }
    }

    &__item {
        display: inline-block;
        margin-right: 10px;
        max-width: 320px;

        &:last-child {
            margin-right: 0;
        }
    }

    & .slick-dots {
        position: absolute;
        right: 15px;
        top: -43px;
        list-style-type: none;
        display: inline-block;

        & li {
            display: inline-block;
            vertical-align: middle;
            margin-right: 5px;

            &:last-child {
                margin-right: 0;
            }

            & button {
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background: #e3e4e5;
                padding: 0;
                border: none;
                font: inherit;
                font-size: 0;
                color: inherit;
                cursor: pointer;
            }
        }

        & li.slick-active button {
            background: #3f3f3f;
        }
    }
}

.input-checkbox,
.input-checkbox-color {

    & input {
        display: none;

        &:checked~span:before {
            content: @fa-var-check-square;
        }
    }

    & span {

        position: relative;
        font-size: 14px;
        line-height: 18px;
        padding-left: 25px;
        background: none;

        &::before {
            .fa-icon;
            content: @fa-var-square;
            position: absolute;
            left: 0;
        }

    }
}

.input-checkbox span::before {
    .far;
}

.input-checkbox-color span::before {
    .fas;
}

.icon-phone,
.icon-mail,
.icon-map-marker {
    &::before {
        .fa-icon;
        .fal;
        font-size: 15px;
    }
}

.icon-phone::before {
    content: @fa-var-phone;
}

.icon-mail::before {
    content: @fa-var-envelope-open;
}

.icon-map-marker::before {
    content: @fa-var-map-marker-alt;
}