* {
  margin: 0;
  padding: 0;
}

body {
  font-family: HelveticaNeueCyr, serif;
  font-size: 14px;
  line-height: normal;
  font-weight: normal;
  color: #9A9A9E;
}

//colors
@bunting: #313443;
@white: #FFFFFF;
@lavender-blush: #F5F0F2;
@night-rider: #333333;
@corn: #FFE661;
@eclipse: #3F3F3F;
@cerise: #EE3769;

.container {
  padding: 0 15px;
  margin: 0 auto;
}