section.sponsor-all
    .container
        ul.sponsor-all__list
            li.sponsor-all__item
                .sponsor-all-inner
                    .sponsor-all__img
                        img(src="pictures/sponsor.jpg", alt="")
                    .sponsor-all__middle
                        a(href="#").sponsor-all__name Агентство бизнес-обучения FBR
                        .sponsor-all__city Барнаул
                        .sponsor-all__activity Организация выставок, Организация конференций, Организация семинаров
            li.sponsor-all__item
                .sponsor-all-inner
                    .sponsor-all__img
                        img(src="pictures/sponsor.jpg", alt="")
                    .sponsor-all__middle
                        a(href="#").sponsor-all__name Wezoom Congress
                        .sponsor-all__city Москва
                        .sponsor-all__activity Организация выставок, Организация конференций, Организация семинаров
            li.sponsor-all__item
                .sponsor-all-inner
                    .sponsor-all__img
                        img(src="pictures/sponsor.jpg", alt="")
                    .sponsor-all__middle
                        .sponsor-all__name Агентство бизнес-обучения FBR
                            a.sponsor-all__link(href="#")
                            .sponsor-all__city Екатеринбург
                            .sponsor-all__activity Организация выставок, Организация конференций, Организация семинаров
            li.sponsor-all__item
                .sponsor-all-inner
                    .sponsor-all__img
                        img(src="pictures/sponsor.jpg", alt="")
                    .sponsor-all__middle
                        a(href="#").sponsor-all__name FarExpo, выставочное объединение
                        .sponsor-all__city Санкт-Петербург
                        .sponsor-all__activity Организация выставок, Организация конференций, Организация семинаров
            li.sponsor-all__item
                .sponsor-all-inner
                    .sponsor-all__img
                        img(src="pictures/sponsor.jpg", alt="")
                    .sponsor-all__middle
                        a(href="#").sponsor-all__name Компания “ВПК-тур” 
                        .sponsor-all__city Москва
                        .sponsor-all__activity Организация выставок, Организация конференций, Организация семинаров
        .button-link__wrap
            a.button-link(href="#") Показать еще
        include ../pagination/index
