.footer {
    &-top {
        height: 293px;
        background: #2c2e39;
    }

    &__title {
        font-size: 22px;
        line-height: 28px;
        text-align: center;
        color: #ffffff;
        font-weight: normal;
    }
}
