section.slider-expert
    .container
        .section__title Колонка эксперта
        ul.slider-expert__list.js-slider-expert
            li.slider-expert__item
                img.slider-expert__img(src="pictures/slider-expert-1.jpg" alt="")
                .slider-expert__info
                    .slider-expert__info-date 23 сентября 2018
                    .slider-expert__info-title 
                        |Как управлять сложными подчиненными
                    .slider-expert__info-bottom
                        .slider-expert__info-leading Максим Батырев
                        .slider-expert__info-reviews



            li.slider-expert__item
                img.slider-expert__img(src="pictures/slider-expert-2.jpg" alt="")