.slider-expert {
    margin-top: 29px;
    margin-bottom: 38px;
    background: @whisper;
    &__list {
        margin-top: 11px;
        list-style-type: none;
    }
    &__img {
        height: 100%;
        width: 100%;
    }

    &__item {
        display: inline-block;
        max-width: 320px;
        max-height: 165px;
        margin-right: 10px;
    }

    &__info {
        background: @white;

        &-date {
            font-weight: 300;
            color: @santas-grey;
        }

        &-title {
            font-weight: 500;
            font-size: 17px;
            color: @midnight-express;
        }
        &-leading {
            font-weight: normal;
            color: @cerise;
        }
    }
}
