.mobile-menu {
  display: none;
  background-color: #313443;
  padding-bottom: 20px;
  min-height: 100%;

  &_active & {
    display: block;
  }

  & .container {
    padding: 0 12px;
    @include desktop {
      padding: $desktop-calendar-padding;
    }
  }

  &__top {
    padding: 24px 0 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  &__city {
    position: relative;
    color: $white;
    padding-left: 20px;
    font-size: 17px;

    & a {
      color: $white;
    }

    &::before {
      position: absolute;
      left: 0;
      color: $cerise;
    }
  }

  &__list {
    padding: 16px 0;
    list-style-type: none;

    @include desktop {
      padding: 28px 0;
    }
  }

  &__item {
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    text-decoration: none;
    color: $white;
    font-size: 18px;
    line-height: 45px;

    @include desktop {
      font-size: 22px;
      line-height: 60px;
    }
  }

  &__add {
    margin-bottom: 25px;
    display: block;
  }

  & .auth {
    margin-top: 40px;
  }
}
