header.header.js-mobile-menu
    .header-bgc
        .container
            .header-inner
                .header-left
                    .hamburger.hamburger--squeeze.js-hamburger
                        .hamburger-box
                            .hamburger-inner
                .header-middle
                    a.header-logo(href="/")
                        img.header-logo__img(src="/img/logo-header.svg" alt="logo")
                .header-right
                    a.header-search(href="#")
                    a.header-favorites(href="#") 
                        span 15
    include ../mobile-menu/index