header.header
    .container
        .header-inner
            .burger
             //.header__mobile-menu
                a.header__mobile-menu-link.js-mobile-menu-open(href="#")
                    i.icon.ion-md-menu.header__mobile-menu-icon
                    i.fas.fa-bars
            a.header-logo(href="/")
                img.header-logo__img(src="/img/logo-header.svg" alt="logo")
            .header-right
                a.header-search(href="#")
                a.header-favorites(href="#") 
                    span 15