.header {
    padding: 15px 0;
    background: linear-gradient(146.17deg, #6441A5 0.44%, #2A0845 90.38%);

    &-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-logo {
        max-width: 138px;

        &__img {
            width: 100%;
        }
    }

    &-search {
        .fa-icon;
        .fal;
        font-size: 16px;
        color: #fff;
        text-decoration: none;

        &:before {
            content: @fa-var-search;
        }
    }

    &-favorites {
        .fa-icon;
        .fas;
        font-size: 16px;
        color: #fff;
        text-decoration: none;
        margin-left: 15px;

        & span {
            font-family: 'HelveticaNeueCyr';
            font-weight: normal;
            font-size: 14px;
            margin-left: 5px;
        }

        &:before {
            content: @fa-var-bookmark;
        }
    }
}

.burger {}