.slider-places {
  margin-top: 30px;
  margin-bottom: 20px;
  padding-top: 0;
  padding-bottom: 0;

  @include desktop {
    margin-top: 70px;
    margin-bottom: 60px;
  }

  @include tablet {
    margin-top: 50px;
    margin-bottom: 40px;
  }

  &__info {
    background: $white;
    margin-top: 20px;

    &-title {
      font-size: 18px;
      line-height: 24px;
      color: #383b73;
    }

    &-address {
      margin-top: 5px;
      font-size: 15px;
      line-height: 18px;
      color: #9a9a9e;
    }
  }
}
