-
    var select = {
        label: 'Выберите город',
        options: [
            'Барнаул',
            'Новосибирск'
        ]
    }


-
    var checkboxList = {
        direction: [
            {
                color: 'yellow',
                label: 'Менеджмент'
            },
            {
                color: 'orange',
                label: 'Маркетинг'
            },
            {
                color: 'green',
                label: 'Личностный рост'
            },
            {
                color: 'skyblue',
                label: 'Разработка'
            },
            {
                color: 'blue',
                label: 'Дизайн'
            },
            {
                color: 'purple',
                label: 'E-commerce'
            }
        ],
        type: [
            {
                label: 'Конференция',
            },
            {
                label: 'Тренинг',
            },
            {
                label: 'Мастер-класс',
            },
            {
                label: 'Семинар',
            }
        ]
    };


