-
    var select = {
        label: 'Выберите город',
        options: [
            'Барнаул',
            'Новосибиоск'
        ]
    }

-
    var calendar = {
        date: 'Январь 2019',
        dayList: [
            {
                number: 1,
                event: [
                    'orange',
                    'green',
                    'skyblue',
                    'purple'
                ]
            },
            {
                number: 2,
                event: [
                    'orange',
                    'green',
                    'skyblue',
                    'purple'
                ]
            },
            {
                number: 3,
                active: true,
                event: [
                    'orange',
                    'green',
                    'skyblue',
                    'purple'
                ]
            },
            {
                number: 4,
                event: [
                    'orange',
                    'green',
                    'skyblue',
                    'purple'
                ]
            },
            {
                number: 5,
                event: [
                    'orange',
                    'green',
                    'skyblue',
                    'purple'
                ]
            },
            {
                number: 6,
                event: [
                    'orange',
                    'green',
                    'skyblue',
                    'purple'
                ]
            },
            {
                number: 7,
                event: [
                    'orange',
                    'green',
                    'skyblue',
                    'purple'
                ]
            },
            {
                number: 8,
                event: [
                    'orange',
                    'green',
                    'skyblue',
                    'purple'
                ]
            },
            {
                number: 9,
                event: [
                    'orange',
                    'green',
                    'skyblue',
                    'purple'
                ]
            },
            {
                number: 10,
                event: [
                    'orange',
                    'green',
                    'skyblue',
                    'purple'
                ]
            },
            {
                number: 11,
                event: [
                    'orange',
                    'green',
                    'skyblue',
                    'purple'
                ]
            },
            {
                number: 12,
                event: [
                    'orange',
                    'green',
                    'skyblue',
                    'purple'
                ]
            },
            {
                number: 13,
                event: [
                    'orange',
                    'green',
                    'skyblue',
                    'purple'
                ]
            },
            {
                number: 14,
                event: [
                    'orange',
                    'green',
                    'skyblue',
                    'purple'
                ]
            },
            {
                number: 15,
                event: [
                    'orange',
                    'green',
                    'skyblue',
                    'purple'
                ]
            },
            {
                number: 16,
                event: [
                    'orange',
                    'green',
                    'skyblue',
                    'purple'
                ]
            },
            {
                number: 17,
                event: [
                    'orange',
                    'green',
                    'skyblue',
                    'purple'
                ]
            },    {
                number: 18,
                event: [
                    'orange',
                    'green',
                    'skyblue',
                    'purple'
                ]
            },
            {
                number: 19,
                event: [
                    'orange',
                    'green',
                    'skyblue',
                    'purple'
                ]
            },
            {
                number: 20,
                event: [
                    'orange',
                    'green',
                    'skyblue',
                    'purple'
                ]
            },
            {
                number: 21,
                event: [
                    'orange',
                    'green',
                    'skyblue',
                    'purple'
                ]
            },
            {
                number: 22,
                event: [
                    'orange',
                    'green',
                    'skyblue',
                    'purple'
                ]
            },
            {
                number: 23,
                event: [
                    'orange',
                    'green',
                    'skyblue',
                    'purple'
                ]
            },
            {
                number: 24,
                event: [
                    'orange',
                    'green',
                    'skyblue',
                    'purple'
                ]
            },
            {
                number: 25,
                event: [
                    'orange',
                    'green',
                    'skyblue',
                    'purple'
                ]
            },
            {
                number: 26,
                event: [
                    'orange',
                    'green',
                    'skyblue',
                    'purple'
                ]
            },
            {
                number: 27,
                event: [
                    'orange',
                    'green',
                    'skyblue',
                    'purple'
                ]
            },
            {
                number: 28,
                event: [
                    'orange',
                    'green',
                    'skyblue',
                    'purple'
                ]
            },
            {
                number: 29,
                event: [
                    'orange',
                    'green',
                    'skyblue',
                    'purple'
                ]
            },
            {
                number: 30,
                event: [
                    'orange',
                    'green',
                    'skyblue',
                    'purple'
                ]
            },
            {
                number: 31,
                event: [
                    'orange',
                    'green',
                    'skyblue',
                    'purple'
                ]
            },

        ]
    };

