.calendar
    .container
        .calendar-top
            .calendar-date Январь 2019
            .calendar-expand Развернуть
        .calendar-bottom
            .calendar-number
                |1
                |2
                |3
                |4
                |5
                |6
                |7    