mixin calendar(date, dayList)
    .calendar
        .container
            .calendar__top
                .calendar__date
                    a(href="#").calendar__prev
                    .calendar__month=date
                    a(href="#").calendar__next
                .calendar__expand Развернуть
        .calendar__bottom
            .calendar__day-list
                for day in dayList
                    a(href="#").calendar__day(class=day.active ? 'active' : '')
                        span=day.number
                        ul.calendar__day-event
                            for event in day.event
                                li(class=event)

