section.event-date
    .container
        .event-date__inner
            .event-date__row
                span.event-date__text Когда
                span.event-date__content 12 окт - 14 окт 2018 с 10:00 до 19:00
            a.button-transparent.event-date__button(href="#") В календарь
        .event-date__inner
            .event-date__row
                span.event-date__text Где
                span.event-date__content «Молодежный театр Алтая», г. Барнаул, пр. Калинина, 2 
                    a.event-date__link(href="#") На карте