-
    let experts = [
        {
            img: 'pictures/slider-expert-1.jpg',
            leading: 'Максим Батырев',
            title: 'Как управлять сложными подчиненными',
            date: '23 сентября 2018',
            reviews: 23
        },
        {
            img: 'pictures/slider-expert-2.jpg',
            leading: 'Иван Крылов',
            title: 'Как добиться успеха',
            date: '23 сентября 2018',
            reviews: 23
        },
        {
            img: 'pictures/slider-expert-3.jpg',
            leading: 'Игорь Манн',
            title: 'Зачем нужно математическое моделирование',
            date: '23 сентября 2018',
            reviews: 23
        },
        {
            img: 'pictures/slider-expert-4.jpg',
            leading: 'Вадим Самойлов',
            title: 'Путь самурая: как узнать секреты ниндзя',
            date: '23 сентября 2018',
            reviews: 23
        }
    ]