.slider-expert {
  padding-top: 16px;
  padding-bottom: 16px;

  @include desktop {
    padding-top: 25px;
    padding-bottom: 20px;
  }

  & .slider-arrows {
    display: block;

    @include xl-block {
      display: none;
    }
  }

  & .section__title {
    margin-bottom: 24px;
  }

  &__info {
    background: $white;
    padding: 15px 0;

    &-date {
      //font-weight: 300;
      font-size: 15px;
      line-height: 15px;
      color: #9a9a9e;
    }

    &-title {
      margin-top: 5px;
      font-weight: bold;
      font-size: 22px;
      line-height: 30px;
      color: #383b73;
      max-height: 90px;
      overflow: hidden;
    }

    &-leading {
      display: inline-block;
      font-size: 15px;
      line-height: 15px;
      color: #9768d1;
      border-bottom: 0.5px solid rgba(151, 104, 209, 0.5);
    }

    &-bottom {
      display: flex;
      margin-top: 10px;
    }

    &-reviews {
      @extend %fa-icon;
      @extend .fas;
      margin-left: 10px;
      color: #9a9a9e;

      & span {
        font-family: HelveticaNeueCyr, serif;
        font-weight: 300;
      }

      &::before {
        content: $fa-var-comment-dots;
        margin-right: 5px;
      }
    }
  }
}
