section.promotion
    .wrapper-inner
        .container
            .promotion__list
                .promotion__banner
                    img(src="pictures/advertising-2.jpg", alt="")
                include ../event-organizer/index