.pagination
    nav.pagination__wrap
        a(href="#").pagination__prev
        .pagination__list
            a(href="#").pagination__item.active 1
            a(href="#").pagination__item 2
            a(href="#").pagination__item 3
            a(href="#").pagination__item 4
            a(href="#").pagination__item 5
        a(href="#").pagination__next