.pagination {
  margin-top: 35px;
  text-align: center;

  &__wrap {
    display: inline-flex;
  }

  &__list {
    font-size: 0;
  }

  &__item {
    padding-top: 5px;
  }

  &__item,
  &__prev,
  &__next {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    box-sizing: border-box;
    margin-right: 4px;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: $eclipse;
    text-decoration: none;
  }

  &__prev,
  &__next {
    @extend %fa-icon;
    @extend .fal;
    font-size: 26px;
  }

  &__item:hover:not(.active) {
    background-color: rgba(100, 65, 165, 0.5);
    color: $white;
  }

  &__item.active {
    background-color: $purple-light;
    color: $white;
  }

  &__prev::before {
    content: $fa-var-chevron-left;
  }

  &__next::before {
    content: $fa-var-chevron-right;
  }

  &__prev,
  &__next {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}
