.pagination {
    margin-top: 35px;

    &__wrap {
        display: flex;
    }

    &__list {
        font-size: 0;
    }

    &__prev,
    &__next {
        @extend %fa-icon;
        @extend .far;
    }

    &__item,
    &__prev,
    &__next {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        margin-right: 4px;
        font-size: 16px;
        text-align: center;
        color: $eclipse;
        text-decoration: none;
    }

    &__item.active {
        background-color: $purple-light;
        color: $white;
    }



    &__prev::before {
        content: $fa-var-chevron-left;
    }

    &__next::before {
        content: $fa-var-chevron-right;
    }
}