.developments {
  padding-top: 50px;
  padding-bottom: 45px;
  background: #f7f7f7;

  &__list {
    @include row-flex();
    list-style-type: none;
  }

  &__item {
    @include col();
    @include size(6);
    border-bottom: 1px solid #e3e4e5;
    padding: 20px;
    box-sizing: border-box;

    &:first-child {
      margin-top: 0;
    }

    &:nth-last-child(2),
    &:last-child {
      border-bottom: none;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  &__content {
    position: relative;
  }

  &__date,
  &__city {
    display: inline-block;
    font-size: 15px;
    color: #9a9a9e;
  }

  &__date {
    margin-right: 10px;
  }

  &__tags {
    font-size: 0;

    & li {
      display: inline-block;
      border-radius: 3px;
      text-align: center;
      padding: 7px 8px;
      margin-top: 8px;
      margin-right: 8px;
      list-style-type: none;
      background-color: #f2c94c;
      color: #3f3f3f;
      font-weight: normal;
      font-size: 14px;
    }
  }

  &__title {
    margin-top: 15px;
    line-height: 29px;
    font-size: 22px;
    color: #383b73;
    font-weight: bold;
    font-style: normal;
    max-height: 90px;
    overflow: hidden;
  }
}
