.master-class
    .container
        .master-class-date 9 января, Барнаул
            .master-class-choice
                .master-class-all Мастер-классы
                .master-class-free Только бесплатные
        .master-class-card
            .master-class-card__inner
                .master-class-card__date 11 окт 2018 Барнаул 
                .master-class-card__label
                    .master-class-card__type Мастер-класс
                    .master-class-card__direction Менеджмент 

                .master-class-card__title 
                    |Менеджер и команда. Как создать команду мечты
