section.master-class
    .container
        .mc-card__list
            .mc-card
                .mc-card__inner
                    .mc-card__content
                        .mc-card__favorite
                        .mc-card__date 11 окт 2018 Барнаул 
                        ul.mc-card__tags
                            li Мастер-класс
                            li Менеджмент 
                        .mc-card__title 
                            |Менеджер и команда. Как создать команду мечты
                    .mc-card__bottom
                        .mc-card__price Стоимость
                            | 
                            span от 6000 руб. 
            .mc-card
                .mc-card__inner
                    .mc-card__content
                        .mc-card__favorite
                        .mc-card__date 11 окт 2018 Барнаул 
                        ul.mc-card__tags
                            li Мастер-класс
                            li Менеджмент 
                        .mc-card__title 
                            |Эффективные продажи 
                    .mc-card__bottom
                        .mc-card__price Стоимость
                            | 
                            span от 6000 руб.
            .mc-card
                .mc-card__inner
                    .mc-card__content
                        .mc-card__favorite
                        .mc-card__date 11 окт 2018 Барнаул 
                        ul.mc-card__tags
                            li Мастер-класс
                            li Менеджмент 
                        .mc-card__title 
                            | Стратегии 2019. Как создать бизнес с нуля
                    .mc-card__bottom
                        .mc-card__price Стоимость
                            | 
                            span от 6000 руб.
        .mc-card-pic__list
            .mc-card-pic
                .mc-card-pic__content(style="background-image: url('pictures/mc-card-pic-1.jpg')")
                    .mc-card-pic__inner
                        .mc-card-pic__favorite
                        .mc-card-pic__date 11 окт 2018 Барнаул 
                        ul.mc-card-pic__tags
                            li Финансы
                .mc-card-pic__bottom
                    .mc-card-pic__title 
                        |Максим Поташев. Эффективные продажи
                    .mc-card-pic__price Стоимость от 6000 руб.
            .mc-card-pic
                .mc-card-pic__content(style="background-image: url('pictures/mc-card-pic-2.jpg')")
                    .mc-card-pic__inner
                        .mc-card-pic__favorite
                        .mc-card-pic__date 11 окт 2018 Барнаул 
                        ul.mc-card-pic__tags
                            li Менеджмент
                .mc-card-pic__bottom
                    .mc-card-pic__title 
                        | Максим Батырев. Менеджер и команда. Как создать команду мечты
                    .mc-card-pic__price Стоимость от 6000 руб.
        .mc-card__banner
            img(src="pictures/mc-card-banner.jpg", alt="")            