section.organizer-name
    .container
        .organizer-name__img
            img(src="pictures/organizer-name/logo-organizer.png" alt="")
        .organizer-name__block
            .organizer-name__name Агентство бизнес-обучения FBR