section.organizer-name
    .container
        .organizer-name__bg
            .wrapper-inner
                .organizer-name__img
                    img(src="pictures/organizer-name/logo-organizer.png" alt="")
        .organizer-name__block
            .wrapper-inner
                h1.h1.organizer-name__name Агентство бизнес-обучения FBR