section.comment
    .container
        .section__title Комментарии
        .comment__add-wrap
            a(href="#").comment__add Оставить комментарий
        ul.comment__list
            li.comment__item
                .comment__author
                    img(src="./pictures/comment-1.jpg", alt="")
                    .comment__info
                        .comment__name Иван Сергеев
                        .comment__date 16 октября 2018
                .comment__text 
                    | Комбат - батяня! Батяня - комбат! 
                    |После прочтения этой книги осталось скорее радостное чувство.
            li.comment__item
                .comment__author
                    img(src="./pictures/comment-1.jpg", alt="")
                    .comment__info
                        .comment__name Иван Сергеев
                        .comment__date 16 октября 2018
                .comment__text 
                    | Комбат - батяня! Батяня - комбат! 
                    |После прочтения этой книги осталось скорее радостное чувство.
            li.comment__item
                .comment__author
                    img(src="./pictures/comment-1.jpg", alt="")
                    .comment__info
                        .comment__name Иван Сергеев
                        .comment__date 16 октября 2018
                .comment__text 
                    | Комбат - батяня! Батяня - комбат! 
                    |После прочтения этой книги осталось скорее радостное чувство.
        .button-link__wrap
            a.button-link.comment__button(href="#") Загрузить еще

