section.expert-info
    .expert-info__bg
        .wrapper-inner
            .expert-info__img
                img(src="pictures/expert-info/maxim.jpg" alt="Максим Батырев")
    .expert-info__block
        .wrapper-inner
            .rating-circle
                span 4,5
            h1.h1.expert-info__name Максим Батырев
            .expert-info__city Москва