section.expert-info
    .expert-info__img
        a(href="#").back-page
            span Назад
        img(src="pictures/expert-info-1.jpg" alt="")
    .container
        .expert-info__block
            .rating-circle
                span 4,5
            .expert-info__name Максим Батырев 
            .expert-info__city Москва        
