.card {
  background: $white;
  margin-top: 48px;
  margin-bottom: 25px;

  &__list {
    list-style: none;
    @include row-flex();
  }

  &__name,
  &__name a {
    margin-top: 20px;
    font-size: 22px;
    line-height: 30px;
    color: #383b73;
    text-decoration: none;
  }

  &__item {
    @include col();
    @include size-sm(6);
    @include size(12);
    margin-bottom: 32px;

    &:first-child {
      border-top: none;
    }
  }

  &__img {
    display: block;
    text-decoration: none;
    width: 100%;
    height: 252px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__city {
    margin-top: 10px;
    font-weight: 300;
    font-size: 15px;
    line-height: 15px;
    color: #9a9a9e;
  }
}
