section.organizer-name
    .container
        .organizer-name__img
            img(src="pictures/organizer.jpg" alt="")
            .organizer-name__info
            .organizer-name__bottom 
                .organizer-name__name Агентство бизнес-обучения FBR