section.organizer-name
    .container
        .organizer-name__img
            a(href="#").back-page
                span Назад
            img(src="pictures/organizer.jpg" alt="")
        .organizer-name__block
            .organizer-name__name Агентство бизнес-обучения FBR