.contacts-form {
  &__title {
    font-size: 13px;
    line-height: 27px;
    font-weight: 900;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #0f1226;
    margin-bottom: 20px;
  }

  &__label {
    display: block;
    margin-bottom: 24px;

    &-text {
      font-size: 13px;
      line-height: 16px;
      color: #9a9a9e;

      &::before {
        color: #6441a5;
      }
    }
  }

  &__textarea,
  &__input-text {
    display: inline-block;
    width: 100%;
    height: 48px;
    padding: 18px 10px 15px 18px;
    font-size: 16px;
    line-height: 24px;
    color: #6c6c70;
    border: 2px solid rgba(100, 65, 165, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    @include placeholder {
      font-size: 16px;
      line-height: 24px;
      color: #9a9a9e;
    }
    @include outline-none {
      border-color: rgba(100, 65, 165, 0.75);
    }
  }

  &__label-text {
    display: block;
  }

  &__textarea {
    display: inline-block;
    min-height: 168px;
    resize: none;
  }

  &__button {
    border: 0;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #fff;
    background: #ee3769;
    border-radius: 4px;
    height: 48px;
    margin-top: 24px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px;

    @include desktop {
      margin-top: 36px;
      margin-bottom: 26px;
    }
  }
}
