section.event-master-class
    .event-master-class__img
        img(src="pictures/event-master-class-1.jpg" alt="")
    .container
        .event-master-class__info
            .event-master-class__rating
                span 4,5
            .event-master-class__info-type Мастер-класс
            h1.event-master-class__title 
                |Менеджер и команда. Как создать команду мечты
            ul.event-master-class__tags
                li Менеджмент
                li.event-master-class__directions E-commerce

