section.event-cd
    .container
        .event-cd__top
            .event-cd__row
                span.event-cd__text Когда
                span.event-cd__content 12 окт - 14 окт 2018 с 10:00 до 19:00
            a.event-cd__button(href="#") В календарь
        .event-cd__bottom
            .event-cd__row
                span.event-cd__text Где
                span.event-cd__content «Молодежный театр Алтая», г. Барнаул, пр. Калинина, 2
                a.event-cd-map__button(href="#") На карте