include ../utils/mixins

block variables

doctype html
html(lang="ru")
	head
		include ../includes/head
	body

		include ../../blocks/modules/header/header
		block calendar

		.wrapper
			block content

		include ../../blocks/modules/footer/footer
		+footer()
		include ../../blocks/modules/modals/index

		include ../includes/scripts