-
    var articleList = [
        {
            name: 'Максим Батырев',
            text: '«Копить нужно то, что невозможно отобрать»',
            comment: '2'
        },
        {
            name: 'Максим Батырев',
            text: '«Копить нужно то, что невозможно отобрать»',
            comment: '2'
        },
        {
            name: 'Максим Батырев',
            text: '«Копить нужно то, что невозможно отобрать»',
            comment: '2'
        },
                {
            name: 'Максим Батырев',
            text: '«Копить нужно то, что невозможно отобрать»',
            comment: '2'
        },
        {
            name: 'Максим Батырев',
            text: '«Копить нужно то, что невозможно отобрать»',
            comment: '2'
        },
        {
            name: 'Максим Батырев',
            text: '«Копить нужно то, что невозможно отобрать»',
            comment: '2'
        },
                {
            name: 'Максим Батырев',
            text: '«Копить нужно то, что невозможно отобрать»',
            comment: '2'
        },
        {
            name: 'Максим Батырев',
            text: '«Копить нужно то, что невозможно отобрать»',
            comment: '2'
        },
        {
            name: 'Максим Батырев',
            text: '«Копить нужно то, что невозможно отобрать»',
            comment: '2'
        },
                {
            name: 'Максим Батырев',
            text: '«Копить нужно то, что невозможно отобрать»',
            comment: '2'
        }
    ]