section.event-expert
    .container
        .section__title Эксперты
        ul.event-expert__list
            li.event-expert__item
                a.event-expert__link(href="#")
                    .event-expert__img
                        img(src="pictures/event-expert-1.jpg" alt="")
                    .event-expert__bottom 
                        .event-expert__name Максим Батырев 
                        .event-expert__city Москва
            li.event-expert__item
                a.event-expert__link(href="#")
                    .event-expert__img
                        img(src="pictures/event-expert-1.jpg" alt="")
                    .event-expert__bottom 
                        .event-expert__name Максим Батырев 
                        .event-expert__city Москва
            li.event-expert__item
                a.event-expert__link(href="#")
                    .event-expert__img
                        img(src="pictures/event-expert-1.jpg" alt="")
                    .event-expert__bottom 
                        .event-expert__name Максим Батырев 
                        .event-expert__city Москва
            li.event-expert__item
                a.event-expert__link(href="#")
                    .event-expert__img
                        img(src="pictures/event-expert-1.jpg" alt="")
                    .event-expert__bottom 
                       .event-expert__name Максим Батырев 
                       .event-expert__city Москва
        .button-link__wrap
            a.button-link(href="#") Показать всех