.event-expert {
  margin-top: 32px;
  margin-bottom: 22px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
  }

  &__item {
    width: #{"calc(50% - 8px)"};
    margin-bottom: 14px;
  }

  &__link {
    text-decoration: none;
  }

  &__img {
    & img {
      width: 100%;
    }
  }

  &__name {
    font-size: 15px;
    line-height: 21px;
    color: #151d3f;
    font-weight: 500;
  }

  &__city {
    font-size: 14px;
    line-height: 18px;
    color: #9a9a9e;
    font-weight: 300;
  }
}
