section.location-place
    .location-place__img(style=`background-image: url('pictures/location-place.jpg')`)
    .wrapper-inner
        .container
            .location-place__block
                h1.h1.location-place__name Молодежный театр Алтая им. В. Золотухина
                .location-place__city г. Барнаул
