section.location-place
    .location-place__img
        a(href="#").back-page
            span Назад
        img(src="pictures/location-place.jpg" alt="")
    .container
        .location-place__block
            .location-place__name Молодежный театр Алтая
            .location-place__city г. Барнаул
