.location-place {
  &:first-child {
    padding-top: 0;
  }
  &__img {
    width: 100%;
    position: relative;
    min-height: 320px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include md-block {
      min-height: 468px;
    }
  }

  &__block {
    position: relative;
    margin: 24px 0 20px;
  }

  &__name {
    margin: 0;
  }

  &__city {
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    color: #9a9a9e;
    margin-top: 10px;
    @include tablet {
      margin-top: 0;
    }
  }
}
