-
    var description = {
        title: 'Об эксперте',
        content: [
            `Максим Батырев (Комбат) - известный российский менеджер, обладатель премий «Коммерческий директор года» и «Менеджер года», автор бестселлеров «45 татуировок менеджера» и «45 татуировок продавана».`,
            'Прошел путь от рядового специалиста до топ-менеджера крупной российской компании. По версии ИД «Коммерсантъ» входит в ТОП-1000 менеджеров страны. Блог Максима в Livejournal входит в ТОП-30 «денежных» блогов страны.',
            'Получил степень Executive MBA в Институте бизнеса и делового администрирования РАНХиГС. ',
            'Родился 25 декабря 1979 г. в городе Балабаново Калужской области в семье военнослужащего и школьной учительницы. Женат, двое детей.',
            'Жизненное кредо: «НАМЕРЕНИЯ минус ДЕЙСТВИЯ равно НИЧЕГО».',
        ]
    };

-
    var developments = {
        title: "Ближайшие события эксперта",
    list: [
        {
            text: "Мастер-класс для руководителей «Управление сложными подчиненными»",
            tag: "Мастер-класс",
            date: "18 ноября 2018",
            city: 'Барнаул',
            tags: [
                {
                    color: 'yellow',
                    label: 'Менеджмент'
                }
            ],
        },
        {
            text:  "World Content Market",
            tag: "Мастер-класс",
            date: "18 ноября 2018",
            city: 'Барнаул',
            tags: [
                {
                    color: 'yellow',
                    label: 'Менеджмент'
                }
            ],
        },
        {
            text: "Московская неделя предпринимательства",
            tag: "Мастер-класс",
            date: "18 ноября 2018",
            city: 'Барнаул',
            tags: [
                {
                    color: 'yellow',
                    label: 'Менеджмент'
                }
            ],
        },
        {
            text: "Международная конференция по управлению проектами",
            tag: "Мастер-класс",
            date: "18 ноября 2018",
            city: 'Барнаул',
            tags: [
                {
                    color: 'yellow',
                    label: 'Менеджмент'
                }
            ],
        },
        {
            text: "Церемония награждения конкурса «МедиаБренд»",
            tag: "Мастер-класс",
            date: "18 ноября 2018",
            city: 'Москва',
            tags: [
                {
                    color: 'skyblue',
                    label: 'Маркетинг'
                }
            ],
        },
        {
            text: "«Образование 0+. Развитие человеческого капитала»",
            tag: "Мастер-класс",
            date: "18 ноября 2018",
            city: 'Москва',
            tags: [
                {
                    color: 'yellow',
                    label: 'Менеджмент'
                }
            ],
            }
        ]
    };

-
    var banner =  [
        "pictures/banner-bork.jpg",
        "pictures/advertising-2.jpg"
    ];


-
    var comment = {
        title: 'Отзывы об эксперте',
        list: [
            {
                img: 'pictures/comment-1.jpg',
                name: 'Иван Сергеев',
                date: '16 октября 2018',
                text: 'Комбат - батяня! Батяня - комбат! После прочтения этой книги осталось скорее радостное чувство.'
            },
            {
                img: 'pictures/comment-1.jpg',
                name: 'Иван Сергеев',
                date: '16 октября 2018',
                text: 'Комбат - батяня! Батяня - комбат! После прочтения этой книги осталось скорее радостное чувство.'
            },
            {
                img: 'pictures/comment-1.jpg',
                name: 'Иван Сергеев',
                date: '16 октября 2018',
                text: 'Комбат - батяня! Батяня - комбат! После прочтения этой книги осталось скорее радостное чувство.'
            }
        ]
    }
