-
    var select = [
        'Сортировать по рейтингу',
        'Сортировать по чему-нибудь'
    ];

-
    var rating = {
        title: false,
        list: [
            {
                img: 'pictures/rating-expert-1.jpg',
                name: 'Максим Батырев',
                city: 'г. Москва',
                comments: '23',
                rating: '4,2'
            },
            {
                img: 'pictures/rating-expert-1.jpg',
                name: 'Максим Батырев',
                city: 'г. Москва',
                comments: '23',
                rating: '4,2'
            },
            {
                img: 'pictures/rating-expert-1.jpg',
                name: 'Максим Батырев',
                city: 'г. Москва',
                comments: '23',
                rating: '4,2'
            },
            {
                img: 'pictures/rating-expert-1.jpg',
                name: 'Максим Батырев',
                city: 'г. Москва',
                comments: '23',
                rating: '4,2'
            },
            {
                img: 'pictures/rating-expert-1.jpg',
                name: 'Максим Батырев',
                city: 'г. Москва',
                comments: '23',
                rating: '4,2'
            },
            {
                img: 'pictures/rating-expert-1.jpg',
                name: 'Максим Батырев',
                city: 'г. Москва',
                comments: '23',
                rating: '4,2'
            },
            {
                img: 'pictures/rating-expert-1.jpg',
                name: 'Максим Батырев',
                city: 'г. Москва',
                comments: '23',
                rating: '4,2'
            },
        ]
    };


-
    var banner =  [
        "pictures/banner-bork.jpg",
        "pictures/advertising-2.jpg"
    ];
