-
    var developments = {
        title: "Лучшие события",
        list: [
            {
                text: "Мастер-класс для руководителей «Управление сложными подчиненными»",
                tag: "Мастер-класс",
                date: "18 ноября 2018",
                city: 'Барнаул',
                tags: [
                    {
                        color: 'yellow',
                        label: 'Менеджмент'
                    }
                ],
            },
            {
                text:  "World Content Market",
                tag: "Мастер-класс",
                date: "18 ноября 2018",
                city: 'Барнаул',
                tags: [
                    {
                        color: 'yellow',
                        label: 'Менеджмент'
                    }
                ],
            },
            {
                text: "Московская неделя предпринимательства",
                tag: "Мастер-класс",
                date: "18 ноября 2018",
                city: 'Барнаул',
                tags: [
                    {
                        color: 'yellow',
                        label: 'Менеджмент'
                    }
                ],
            },
            {
                text: "Международная конференция по управлению проектами",
                tag: "Мастер-класс",
                date: "18 ноября 2018",
                city: 'Барнаул',
                tags: [
                    {
                        color: 'yellow',
                        label: 'Менеджмент'
                    }
                ],
            },
            {
                text: "Церемония награждения конкурса «МедиаБренд»",
                tag: "Мастер-класс",
                date: "18 ноября 2018",
                city: 'Москва',
                tags: [
                    {
                        color: 'skyblue',
                        label: 'Маркетинг'
                    }
                ],
            },
            {
                text: "«Образование 0+. Развитие человеческого капитала»",
                tag: "Мастер-класс",
                date: "18 ноября 2018",
                city: 'Москва',
                tags: [
                    {
                        color: 'yellow',
                        label: 'Менеджмент'
                    }
                ],
            }
        ]
    };

-
    var rating = {
        title: 'Рейтинг экспертов',
        list: [
            {
                img: 'pictures/rating-expert-1.jpg',
                name: 'Максим Батырев',
                city: 'г. Москва',
                comments: '23',
                rating: '4,2'
            },
            {
                img: 'pictures/rating-expert-1.jpg',
                name: 'Максим Батырев',
                city: 'г. Москва',
                comments: '23',
                rating: '4,2'
            },
            {
                img: 'pictures/rating-expert-1.jpg',
                name: 'Максим Батырев',
                city: 'г. Москва',
                comments: '23',
                rating: '4,2'
            },
            {
                img: 'pictures/rating-expert-1.jpg',
                name: 'Максим Батырев',
                city: 'г. Москва',
                comments: '23',
                rating: '4,2'
            },
            {
                img: 'pictures/rating-expert-1.jpg',
                name: 'Максим Батырев',
                city: 'г. Москва',
                comments: '23',
                rating: '4,2'
            },
        ]
    };

-
    var banner =  [
        "pictures/banner-megafon-long.jpg"
    ];
