-
    var description = {
        title: 'О площадке',
        content: [
            `В 1918 году комсомольцы Барнаула основали молодёжную студию. У них не было собственного здания — актёры играли в городских парках, дворцах культуры, на квартирах. Лишь 24 сентября 1958 года был официально создан Алтайский краевой театр юного зрителя. Свой первый спектакль «Именем революции» ТЮЗ в статусе профессионального театра показал на сцене ДК БМК. До 1963 года труппа работала в здании на проспекте Ленина, 7, а с 1964 года театр переехал на площадку по адресу — улица Пионеров, 2. В 1960—1970-е годы в ТЮЗ пришли молодые актёры, ставшие впоследствии заслуженными артистами: Георгий Асатиани, Людмила Познякова, Нина Таякина, Владимир Лопатин. `,
            'В репертуаре театра в то время имелись достаточно разноплановые спектакли: для детей — «Красная шапочка», «Золушка» и «Муха-цокотуха»; для молодёжи — «Мальчишки из Гаваны», «Они и мы», «Сомбреро», «РВС», «Высоко в синем небе»; для взрослой аудитории — «На дне», «Дон Кихот».',
            'С 1997 по 2013 год директором ТЮЗа была Татьяна Козицына. В репертуаре появились спектакли приглашённых режиссёров и художников: «Маленькие трагедии» (Сергей Красноперец, Москва); «Любовь к трем апельсинам» (Андрей Зябликов и Юлия Акс, Москва); «Мандрагора» (Сергей Бобровский и Ольга Смагина, Новосибирск); «Бременские музыканты» и «Вождь краснокожих» (Сергей Тимофеев, Омск).'
        ]
    };

-
    var developments = {
        title: "Ближайшие события на данной площадке",
        list: [
            {
                text: "Мастер-класс для руководителей «Управление сложными подчиненными»",
                tag: "Мастер-класс",
                date: "18 ноября 2018",
                city: 'Барнаул',
                tags: [
                    {
                        color: 'yellow',
                        label: 'Менеджмент'
                    }
                ],
            },
            {
                text:  "World Content Market",
                tag: "Мастер-класс",
                date: "18 ноября 2018",
                city: 'Барнаул',
                tags: [
                    {
                    color: 'yellow',
                    label: 'Менеджмент'
                    }
                ],
            },
            {
                text: "Московская неделя предпринимательства",
                tag: "Мастер-класс",
                date: "18 ноября 2018",
                city: 'Барнаул',
                tags: [
                    {
                        color: 'yellow',
                        label: 'Менеджмент'
                    }
                ],
            },
            {
                text: "Международная конференция по управлению проектами",
                tag: "Мастер-класс",
                date: "18 ноября 2018",
                city: 'Барнаул',
                tags: [
                    {
                        color: 'yellow',
                        label: 'Менеджмент'
                    }
                ],
            },
            {
                text: "Церемония награждения конкурса «МедиаБренд»",
                tag: "Мастер-класс",
                date: "18 ноября 2018",
                city: 'Москва',
                tags: [
                    {
                        color: 'skyblue',
                        label: 'Маркетинг'
                    }
                ],
            },
            {
                text: "«Образование 0+. Развитие человеческого капитала»",
                tag: "Мастер-класс",
                date: "18 ноября 2018",
                city: 'Москва',
                tags: [
                    {
                        color: 'yellow',
                        label: 'Менеджмент'
                    }
                ],
            }
        ]
    };

-
    var info = {
        addButton: 'Оставить заявку',
        list: [
            {
                text: 'Адрес:',
                content: 'Барнаул, пр. Калинина, 2'
            },
            {
                text: 'Количество мест:',
                content: '740'
            },
            {
                text: 'Доступное оборудование:',
                content: 'проектор, экран, ноутбук, кулер'
            },
            {
                text: 'Питание:',
                content: 'кейтеринг'
            },
            {
                text: 'Стоимость (час/день):',
                content: '2000р. / 15000р.'
            },
            {
                text: 'Контактное лицо:',
                content: 'Иван Петров, тел. +7 3852 55-11-35'
            },
        ]
    }


-
    var banner = [
        "pictures/advertising-2.jpg",
        "pictures/advertising-2.jpg"
    ]

