-
    var description = {
        title: 'Информация об организаторе',
        content: [
            'FBR - команда № 1 !',
            'Мы - за развитие! Развитие себя, бизнеса и бизнеса наших партнеров. За раскрытие потенциала всех, с кем имеем дело. За совершенствование навыков, за выход из границ возможного.',
            'Мы - за экологичность! Мы готовы слушать и слышать партнеров, клиентов, коллег. Мы уважаем чужое мнение. Мы предлагаем только то, что для вас важно и имеет ценность.',
            'Директор: Марина Балабина'
        ]
    };

-
    var developments = {
        title: "Ближайшие события организатора",
        list: [
            {
                text: "Мастер-класс для руководителей «Управление сложными подчиненными»",
                tag: "Мастер-класс",
                date: "18 ноября 2018",
                city: 'Барнаул',
                tags: [
                    {
                        color: 'yellow',
                        label: 'Менеджмент'
                    }
                ],
            },
            {
                text: "World Content Market",
                tag: "Мастер-класс",
                date: "18 ноября 2018",
                city: 'Барнаул',
                tags: [
                    {
                        color: 'yellow',
                        label: 'Менеджмент'
                    }
                ],
            },
            {
                text: "Московская неделя предпринимательства",
                tag: "Мастер-класс",
                date: "18 ноября 2018",
                city: 'Барнаул',
                tags: [
                    {
                        color: 'yellow',
                        label: 'Менеджмент'
                    }
                ],
            },
            {
                text: "Международная конференция по управлению проектами",
                tag: "Мастер-класс",
                date: "18 ноября 2018",
                city: 'Барнаул',
                tags: [
                    {
                        color: 'yellow',
                        label: 'Менеджмент'
                    }
                ],
            },
            {
                text: "Церемония награждения конкурса «МедиаБренд»",
                tag: "Мастер-класс",
                date: "18 ноября 2018",
                city: 'Москва',
                tags: [
                    {
                        color: 'skyblue',
                        label: 'Маркетинг'
                    }
                ],
            },
            {
                text: "«Образование 0+. Развитие человеческого капитала»",
                tag: "Мастер-класс",
                date: "18 ноября 2018",
                city: 'Москва',
                tags: [
                    {
                        color: 'yellow',
                        label: 'Менеджмент'
                    }
                ],
            }
        ]
    };

-
    var info = {
        addButton: 'Связаться с компанией',
        list: [
            {
                text: 'Адрес:',
                content: 'Барнаул, пр. Красноармейский, 51а'
            },
            {
                text: 'Телефон:',
                content: '+7 (3852) 534-229'
            },
            {
                text: 'Email:',
                content: 'info@fbr22.ru'
            },
            {
                text: 'Контактное лицо:',
                content: 'Мария Балабина, тел. +7 3852 30-50-70'
            },
        ]
    }

-
    var banner = [
       "pictures/banner-bork.jpg",
        "pictures/advertising-2.jpg"
    ]

