* {
  margin: 0;
  padding: 0;
}

body {
  font-family: HelveticaNeueCyr, serif;
  font-size: 14px;
  line-height: normal;
  font-weight: normal;
  color: #9a9a9e;
}

main > section {
  &:first-child {
    padding-top: 40px;
  }
}

.wrapper {
  background-color: $white;
  box-sizing: border-box;

  @include desktop {
    display: flex;
    flex-direction: column;
    padding: 0 0 50px 0;
  }

  &-inner {
    max-width: 1410px;
    margin-left: 58px;
    margin-right: auto;
    overflow: hidden;
    padding: 0 12px;
  }
}

.wrapper,
.footer {
  @include desktop {
    width: #{"calc(100% - #{$desktop-calendar-width})"};
    margin-left: $desktop-calendar-width;
  }
}

.calendar .footer {
  @include desktop {
    width: 100%;
    margin-left: 0;
    max-width: inherit;
  }
}

.yellow {
  &::before,
  &::after {
    color: #f2c94c;
  }

  background-color: #f2c94c;
}

.orange {
  &::before,
  &::after {
    color: #f2994a;
  }

  background-color: #f2994a;
}

.green {
  &::before,
  &::after {
    color: #6fcf97;
  }

  background-color: #6fcf97;
}

.skyblue {
  &::before,
  &::after {
    color: #74c5ff;
  }

  background-color: #74c5ff;
}

.blue {
  &::before,
  &::after {
    color: #2f80ed;
  }

  background-color: #2f80ed;
}

.purple {
  &::before,
  &::after {
    color: #9b51e0;
  }

  background-color: #9b51e0;
}

.container {
  max-width: 1200px;
  box-sizing: border-box;
  margin: 0 auto;
}

.h1 {
  font-size: 40px;
  line-height: 50px;
  color: #151D3F;
}

.overflow-hidden {
  overflow: hidden;

  @include desktop {
    overflow: inherit;
  }
}

.section {
  &__title {
    font-weight: 900;
    font-size: 16px;
    line-height: 20px;
    color: $night-rider;
    padding-bottom: 7px;
    border-bottom: 3px solid #9768D1;;
    margin-bottom: 10px;
  }
}

.map-balloon {
  width: 52px;
  height: 53px;
  background-image: url("../img/map-balloon.svg");
}

.button {
  display: inline-block;
  padding: 17px 0 13px;
  background: $cerise;
  color: $white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  border: none;
  outline: none;
  border-radius: 4px;
  letter-spacing: 0.1em;

  &__wrap {
    text-align: center;
  }
}

.button-link {
  display: inline-block;
  text-decoration: none;
  margin-top: 15px;
  padding: 15px;
  text-align: center;
  font-weight: normal;
  font-size: 15px;
  color: #ee3769;

  &__wrap {
    text-align: center;
  }
}

.button-transparent {
  border: 2px solid #ee3769;
  box-sizing: border-box;
  line-height: normal;
  text-align: center;
  color: #ee3769;
  text-decoration: none;
  font-weight: 500;
  display: inline-block;
  padding: 10px 40px;
}

.button-more {
  display: inline-block;
  position: relative;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #151D3F;
  padding-top: 52px;
  text-decoration: none;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    margin: auto;
    background: #C4C4C4;
  }

  &:before {
    width: 3px;
    height: 40px;
  }

  &:after {
    top: 18px;
    width: 40px;
    height: 3px;
  }
}

.back-page {
  @extend %fa-icon;
  @extend .fal;
  font-size: 14px;
  line-height: normal;
  color: $white;
  position: absolute;
  left: 15px;
  top: 10px;
  text-decoration: none;

  & span {
    font-family: HelveticaNeueCyr;
  }

  &::before {
    content: $fa-var-arrow-left;
    margin-right: 7px;
  }
}

.auth {
  &__login {
    font-size: 22px;
    font-weight: 500;
    line-height: 22px;
    color: $white;
    text-decoration: none;

    &::after {
      content: "|";
      position: relative;
      margin-left: 30px;
      margin-right: 30px;
    }

    &:last-child::after {
      content: none;
    }
  }
}

.link {
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  text-decoration: none;
  color: #9768D1;
  padding-bottom: 2px;
  border-bottom: 0.5px solid rgba(151, 104, 209, 0.5);
}

.overflow-hidden {
  overflow: hidden;
}

.hide {
  display: none;
}

// slider-content

.slider {

  &-wrap {
    margin-top: 24px;
  }

  &-arrows {
    position: absolute;
    right: 7px;
    top: -4px;
  }

  &-prev,
  &-next {
    @extend %fa-icon;
    @extend .fas;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    font-size: 18px;
    text-align: center;
    color: #3F3F3F;
    text-decoration: none;
    cursor: pointer;

    &.slick-disabled {
      opacity: .5;
      cursor: not-allowed;
    }
  }

  &-prev {
    margin-right: 6px;
  }

  &-prev::before {
    content: $fa-var-chevron-left;
  }

  &-next::before {
    content: $fa-var-chevron-right;
  }
}


.slider-content {

  & .container {
    position: relative;
  }
  padding-top: 25px;
  padding-bottom: 20px;

  &__list {
    margin-top: 11px;
    list-style-type: none;
    @include row-flex();
  }


  &__img {
    height: 168px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    & img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__item {
    @include col();
    @include size(3);
    @include outline-none();

    & a {
      text-decoration: none;
      @include outline-none()
    }
  }

  & .slick-dots {
    position: absolute;
    right: 15px;
    top: -43px;
    list-style-type: none;
    display: inline-block;

    & li {
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;

      &:last-child {
        margin-right: 0;
      }

      & button {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #e3e4e5;
        padding: 0;
        border: none;
        font: inherit;
        font-size: 0;
        color: inherit;
        cursor: pointer;
      }
    }

    & li.slick-active button {
      background: #3f3f3f;
    }
  }
}

.input-checkbox,
.input-checkbox-color {
  cursor: pointer;

  & input {
    display: none;

    &:checked ~ span:before {
      content: $fa-var-check-square;
    }
  }

  & span {
    position: relative;
    font-size: 14px;
    line-height: 18px;
    padding-left: 25px;
    background: none;

    &::before {
      @extend %fa-icon;
      content: $fa-var-square;
      position: absolute;
      left: 0;
    }
  }
}

.input-checkbox span::before {
  @extend .far;
}

.input-checkbox-color span::before {
  @extend .fas;
}

.icon-phone,
.icon-mail,
.icon-map-marker {
  &::before {
    @extend %fa-icon;
    @extend .fal;
    font-size: 15px;
  }
}

.icon-phone::before {
  content: $fa-var-phone;
}

.icon-mail::before {
  content: $fa-var-envelope-open;
}

.icon-map-marker::before {
  content: $fa-var-map-marker-alt;
}
