.icon-comment {
  @extend %fa-icon;
  @extend .fas;
  margin-left: 10px;
  font-size: 12px;
  color: #9a9a9e;
  line-height: 20px;

  & span {
    font-family: HelveticaNeueCyr, serif;
    font-weight: 300;
  }

  &::before {
    content: $fa-var-comment-dots;
    margin-right: 5px;
  }
}
