@import "icon-data";

.icon-comment {
  @extend %fa-icon;
  @extend .fas;
  margin-left: 10px;
  font-size: 12px;
  color: #9a9a9e;
  line-height: 20px;

  & span {
    font-family: HelveticaNeueCyr, serif;
    font-weight: 300;
  }

  &::before {
    content: $fa-var-comment-dots;
    margin-right: 5px;
  }
}

.icon-rating {
  position: relative;
  align-self: self-start;
  width: 40px;
  height: 40px;
  background: #ecb91d;
  display: flex;
  align-items: center;
  justify-content: center;

  & span {
    font-weight: 900;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: $white;
  }
}
